Repository tursodatabase/turso, pull requests merged in 2025-09, with the labels that each got.

#2857 Support cipher and encryption key URI options
  core/lib.rs
  core/util.rs
  tests/integration/query_processing/encryption.rs
Labels: core

#2762 Support encryption for raw WAL frames
  core/storage/wal.rs
Labels: core, Storage

#2878 Return sqlite_version() without being initialized
  core/vdbe/execute.rs
Labels: core, vdbe

#2814 Implement libSQL's `ALTER COLUMN` extension
  Makefile
  core/function.rs
  core/schema.rs
  core/translate/alter.rs
  core/util.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  parser/src/ast.rs
  parser/src/ast/fmt.rs
  parser/src/lexer.rs
  parser/src/parser.rs
  testing/alter_column.test
  testing/alter_table.test
Labels: core, translation/planning, vdbe

#2868 core/printf: support for more basic substitution types
  core/functions/printf.rs
  core/types.rs
Labels: core

#2867 Unify handling of grouped and ungrouped aggregations
  core/translate/aggregation.rs
  core/translate/group_by.rs
  core/translate/main_loop.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/select.rs
  testing/agg-functions.test
  testing/cli_tests/extensions.py
  testing/collate.test
  testing/groupby.test
Labels: core, translation/planning

#2891 core: Make strict schema support experimental
  COMPAT.md
  bindings/python/src/lib.rs
  cli/app.rs
  cli/mcp_server.rs
  core/lib.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  scripts/limbo-sqlite3
  sync/engine/src/database_sync_engine.rs
  tests/integration/common.rs
  tests/integration/functions/test_wal_api.rs
  tests/integration/query_processing/encryption.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core, translation/planning, cli, Python-Bindings

#2865 introduce `match_ignore_ascii_case` macro
  Cargo.lock
  macros/Cargo.toml
  macros/src/ext/match_ignore_ascii_case.rs
  macros/src/ext/mod.rs
  macros/src/lib.rs
  parser/Cargo.toml
  parser/build.rs
  parser/src/lexer.rs
  parser/src/parser.rs
Labels: extensionlib, Macros

#2748 refactor parser fmt
  core/incremental/view.rs
  core/translate/alter.rs
  core/translate/display.rs
  core/translate/main_loop.rs
  core/translate/optimizer/mod.rs
  core/translate/schema.rs
  core/translate/view.rs
  core/util.rs
  core/vdbe/execute.rs
  parser/src/ast.rs
  parser/src/ast/fmt.rs
  parser/src/parser.rs
  simulator/model/mod.rs
  sql_generation/model/query/mod.rs
  sql_generation/model/query/predicate.rs
  sql_generation/model/query/select.rs
Labels: simulator, core, optimizer, translation/planning, vdbe

#2907 build native package for ARM64
  .github/workflows/napi-sync.yml
  .github/workflows/napi.yml
  bindings/javascript/README.md
  bindings/javascript/package.json
  sync/javascript/package.json
Labels: ci-actions, JS-Bindings

#2906 introduce package.json for separate *-browser package (both database and sync)
  .github/workflows/napi-sync.yml
  .github/workflows/napi.yml
  bindings/javascript/.gitignore
  bindings/javascript/Makefile
  bindings/javascript/package.browser.json
  sync/javascript/.gitignore
  sync/javascript/Makefile
  sync/javascript/package.browser.json
Labels: ci-actions, JS-Bindings

#2720 Refactor LIMIT/OFFSET handling to support expressions
  core/translate/compound_select.rs
  core/translate/delete.rs
  core/translate/display.rs
  core/translate/emitter.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/result_row.rs
  core/translate/select.rs
  core/translate/update.rs
  core/translate/values.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  testing/select.test
Labels: core, translation/planning, vdbe, Storage

#2912 windows iterator returns no values for shorter slice
  core/util.rs
Labels: core

#2922 mark completion as done only after callback will be executed
  core/io/mod.rs
Labels: core, IO

#2855 prevent modification to system tables.
  core/schema.rs
  core/translate/alter.rs
  core/translate/delete.rs
  core/translate/insert.rs
  core/translate/update.rs
Labels: core, translation/planning

#2934 Fix non-determinism in simulator
  Cargo.lock
  simulator/generation/plan.rs
  simulator/model/mod.rs
  simulator/runner/env.rs
  sql_generation/Cargo.toml
  sql_generation/generation/query.rs
  sql_generation/generation/table.rs
  sql_generation/model/query/select.rs
Labels: simulator

#2936 Fix sqlite3 test cases
  sqlite3/tests/compat/mod.rs
Labels: Sqlite3

#2938 Fix infinite loop when query starts comment token ("--")
  cli/app.rs
Labels: cli

#2904 core: handle edge cases for read_varint
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2885 Page Cache: optimize and use sieve/Gclock hybird algorithm in place of LRU
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core, vdbe, Storage

#2944 Remove RefCell from Cursor
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, vdbe

#2887 Small fixes
  core/storage/btree.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/common.rs
  tests/integration/functions/mod.rs
  tests/integration/mod.rs
Labels: core, vdbe, Storage

#2947 expr: use more efficient implementation for binary condition exprs
  core/translate/expr.rs
Labels: core, translation/planning

#2914 Prevent setting of encryption keys if already set
  core/lib.rs
  core/storage/pager.rs
Labels: core, Storage

#2961 cli: Fix dump compatibility in "PRAGMA foreign_keys"
  cli/app.rs
Labels: cli

#2962 reduce cloning `Arc<Page>`
  core/storage/btree.rs
Labels: core, Storage

#2973 Handle case where null flag is set in op_column
  core/vdbe/execute.rs
  testing/join.test
Labels: core, vdbe

#2972 optimizer: convert outer join to inner join if possible
  core/translate/optimizer/mod.rs
Labels: core, optimizer

#2953 Implement 2-args json_each
  core/json/vtab.rs
  testing/json.test
Labels: core, Json

#2980 no need `QueryStatistics` if `self.opts.timer` is not set
  cli/app.rs
Labels: cli

#2991 Make 'faultless' sim profile create some indexes too
  simulator-docker-runner/docker-entrypoint.simulator.ts
  simulator/profiles/mod.rs
Labels: simulator

#2979 clean `print_query_result`
  cli/app.rs
Labels: cli

#2994 add missing module type for browser package
  bindings/javascript/packages/browser/package.json
Labels: JS-Bindings

#2996 core/vdbe: Don't rollback transaction when write upgrade fails
  core/vdbe/execute.rs
  tests/integration/fuzz_transaction/mod.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, vdbe

#3000 pager: fix incorrect freelist page count bookkeeping
  core/storage/pager.rs
Labels: core, Storage

#2958 core: Fix integer/float comparison
  core/types.rs
  testing/compare.test
Labels: core, vdbe

#2821 Fix jsonb functions check valid json string binary
  core/json/jsonb.rs
  core/json/mod.rs
  testing/json.test
Labels: core, Json

#2757 core: Support ceiling modifier in datetime
  COMPAT.md
  core/functions/datetime.rs
  testing/scalar-functions-datetime.test
Labels: core

#2911 simulator: Clean up code to use extract_if()
  simulator/runner/file.rs
Labels: simulator

#3076 remove Stmt clone
  core/lib.rs
Labels: core

#3077 core: Panic on fsync() error by default
  core/lib.rs
  core/pragma.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  parser/src/ast.rs
Labels: core, translation/planning, Storage

#3080 core/throughput: Add per transaction think time support
  perf/throughput/rusqlite/src/main.rs
  perf/throughput/turso/src/main.rs
Labels: Perf/Benchmarks

#3082 perf/throughput/turso: Async transactions with concurrent mode
  perf/throughput/rusqlite/src/main.rs
  perf/throughput/turso/src/main.rs
Labels: Perf/Benchmarks

#3092 perf/throughput/turso: Don't execute futures serially
  perf/throughput/turso/Cargo.lock
  perf/throughput/turso/Cargo.toml
  perf/throughput/turso/src/main.rs
Labels: Perf/Benchmarks

#3096 perf/throughput/turso: Don't use spawn_blocking()
  perf/throughput/turso/src/main.rs
Labels: Perf/Benchmarks

#3102 add perf/throughput/turso to workspace
  Cargo.lock
  Cargo.toml
  perf/throughput/turso/Cargo.lock
  perf/throughput/turso/Cargo.toml
  perf/throughput/turso/src/main.rs
Labels: Perf/Benchmarks

#3104 mvcc: Complete commit state machine early if write set is empty
  core/mvcc/database/mod.rs
Labels: core, mvcc

#3074 Busy handler
  bindings/rust/src/lib.rs
  core/io/clock.rs
  core/lib.rs
  perf/throughput/turso/src/main.rs
Labels: core, antithesis, IO, Perf/Benchmarks, rust-bindings

#3109 avoid unnecessary cloning when formatting Txn for Display
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
Labels: core, mvcc

#3135 move `divider_cell_is_overflow_cell` to debug assertions
  core/storage/btree.rs
Labels: core, Storage

#2943 Add quoted identifier test cases for `ALTER TABLE`
  core/translate/alter.rs
  testing/alter_table.test
Labels: core, translation/planning

#3146 Fix 3 different MVCC bugs
  core/mvcc/database/mod.rs
  tests/integration/fuzz_transaction/mod.rs
Labels: core, mvcc

#3143 Implement Min/Max aggregators
  cli/app.rs
  core/incremental/compiler.rs
  core/incremental/operator.rs
  core/incremental/persistence.rs
  core/incremental/view.rs
  core/schema.rs
  core/translate/view.rs
  core/util.rs
Labels: core, translation/planning, cli

#3040 Encrypt page 1
  cli/app.rs
  cli/mcp_server.rs
  core/incremental/cursor.rs
  core/lib.rs
  core/storage/encryption.rs
  docs/manual.md
  sync/engine/src/database_sync_engine.rs
  tests/integration/common.rs
  tests/integration/functions/test_wal_api.rs
  tests/integration/query_processing/encryption.rs
  tests/integration/query_processing/test_write_path.rs
Labels: simulator, core, mvcc, antithesis, translation/planning, vdbe, extensionlib, Storage, cli, Sqlite3, IO, Perf/Benchmarks, ci-actions, parser, rust-bindings, docs, JS-Bindings, Java-Bindings

#3154 core: Convert Rc<Pager> to Arc<Pager>
  core/incremental/compiler.rs
  core/incremental/cursor.rs
  core/incremental/expr_compiler.rs
  core/incremental/operator.rs
  core/incremental/view.rs
  core/lib.rs
  core/mvcc/cursor.rs
  core/mvcc/database/mod.rs
  core/schema.rs
  core/storage/btree.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, mvcc, translation/planning, vdbe, Storage

#3165 core/storage: Clean up unused import warning in encryption.rs
  core/storage/encryption.rs
Labels: core, Storage

#3166 core/ext: Switch vtab_modules from Rc to Arc
  core/ext/mod.rs
  core/lib.rs
  core/translate/schema.rs
  core/vtab.rs
Labels: core, translation/planning, extensionlib

#3168 core: Wrap symbol table with RwLock
  core/ext/mod.rs
  core/lib.rs
  core/vdbe/execute.rs
Labels: core, vdbe, extensionlib

#3169 core/vtab: Use AtomicPtr for table_ptr
  core/vtab.rs
Labels: core

#3174 core: Wrap MvCursor in Arc<RwLock<>>
  core/schema.rs
  core/storage/btree.rs
  core/vdbe/execute.rs
Labels: core, vdbe, Storage

#3175 core: Wrap Pager dirty_pages in RwLock
  core/storage/pager.rs
Labels: core, Storage

#3176 core/storage: Wrap Pager::checkpoint_state in RwLock
  core/storage/pager.rs
Labels: core, Storage

#3156 core/mvcc: introduce with_header for MVCC header update tracking
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/storage/wal.rs
  core/vdbe/execute.rs
Labels: core, mvcc, vdbe, Storage

#3163 Simulator Multiple Connections
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/main.rs
  simulator/profiles/mod.rs
  simulator/runner/differential.rs
  simulator/runner/doublecheck.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/mod.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: simulator

#3098 Introduce instruction VTABLE
  core/incremental/expr_compiler.rs
  core/vdbe/builder.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
  macros/src/lib.rs
Labels: core, vdbe, Macros

#3188 Reduce allocations needed for `break_predicate_at_and_boundaries`
  core/translate/plan.rs
  core/translate/planner.rs
Labels: core, translation/planning

#3186 translate: couple fixes from testing with Gorm
  core/translate/schema.rs
  core/translate/upsert.rs
  core/util.rs
  testing/create_table.test
Labels: core, translation/planning

#3183 Enable encryption option in Whopper
  CONTRIBUTING.md
  Cargo.lock
  core/lib.rs
  whopper/Cargo.toml
  whopper/bin/explore
  whopper/bin/run
  whopper/main.rs
Labels: core

#3177 Convert more Pager fields towards being Send
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#3192 stress: Retry sync on error to avoid a panic, take 2
  stress/main.rs
Labels: antithesis

#3193 core: Use sequential consistency for atomics by default
  core/io/mod.rs
  core/lib.rs
  core/storage/buffer_pool.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vtab.rs
Labels: core, Storage, IO

#3195 core/storage: Use AtomicU16 for Pager::reserved_space
  core/storage/pager.rs
Labels: core, Storage

#3196 core: Rename Connection::_db to db
  core/ext/mod.rs
  core/lib.rs
  core/mvcc/database/tests.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
Labels: core, mvcc, vdbe, extensionlib, Storage, Perf/Benchmarks, JS-Bindings

#3208 translate/insert: fix `program.result_columns` when inserting multiple rows
  core/translate/insert.rs
Labels: core, translation/planning

#3158 core/mvcc: LogicalLog simple append serializer
  cli/app.rs
  core/incremental/cursor.rs
  core/lib.rs
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
  core/schema.rs
  core/util.rs
  core/vdbe/execute.rs
  perf/throughput/turso/Cargo.toml
  perf/throughput/turso/src/main.rs
Labels: simulator, core, mvcc, vdbe, extensionlib, Storage, cli, Sqlite3, Perf/Benchmarks, rust-bindings, Java-Bindings

#3203 simulator: Fix shrinking
  simulator/generation/plan.rs
  simulator/shrink/plan.rs
Labels: simulator

#3213 core/mvcc: Kill noop storage
  core/incremental/cursor.rs
  core/lib.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
Labels: core, mvcc

#3212 core/storage: Wrap Pager::header_ref_state in RwLock
  core/storage/pager.rs
Labels: core, Storage

#3219 Put the unused variable behind a flag as intended
  core/storage/btree.rs
Labels: core, Storage

#3220 mvcc: remove unused code related to is_logical_log()
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/mod.rs
  core/vdbe/execute.rs
Labels: core, mvcc, vdbe

#3207 Support JOINs in DBSP materialized views
  core/incremental/aggregate_operator.rs
  core/incremental/compiler.rs
  core/incremental/cursor.rs
  core/incremental/dbsp.rs
  core/incremental/filter_operator.rs
  core/incremental/input_operator.rs
  core/incremental/join_operator.rs
  core/incremental/mod.rs
  core/incremental/operator.rs
  core/incremental/persistence.rs
  core/incremental/project_operator.rs
  core/incremental/view.rs
  core/schema.rs
  core/translate/logical.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/view.rs
  core/util.rs
  parser/src/parser.rs
  testing/materialized_views.test
Labels: core, translation/planning

#3215 core/mvcc: Wrap LogicalLog in RwLock
  core/mvcc/persistent_storage/mod.rs
Labels: core, mvcc

#3198 bugfix: clear reserved space for a reused page
  core/storage/btree.rs
  core/storage/encryption.rs
Labels: core, Storage

#3210 translate/optimize: centralize AST/expr traversal
  core/translate/delete.rs
  core/translate/expr.rs
  core/translate/insert.rs
  core/translate/optimizer/mod.rs
  core/translate/planner.rs
  core/translate/select.rs
  core/translate/update.rs
Labels: core, optimizer, translation/planning

#3224 Pragma busy timeout
  bindings/rust/src/lib.rs
  core/lib.rs
  core/pragma.rs
  core/translate/pragma.rs
  parser/src/ast.rs
Labels: core, translation/planning, rust-bindings

#3230 Add encryption throughput test
  Cargo.lock
  Cargo.toml
  bindings/rust/Cargo.toml
  perf/encryption/Cargo.toml
  perf/encryption/README.md
  perf/encryption/src/main.rs
Labels: Perf/Benchmarks, rust-bindings

#3234 Support UNION queries in DBSP-based Materialized Views
  core/incremental/compiler.rs
  core/incremental/merge_operator.rs
  core/incremental/mod.rs
  core/incremental/operator.rs
  core/incremental/view.rs
  testing/materialized_views.test
Labels: core, optimizer, translation/planning, rust-bindings

#3226 Enhancement to Sim Snapshot isolation code
  Cargo.lock
  simulator/Cargo.toml
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/main.rs
  simulator/model/mod.rs
  simulator/runner/differential.rs
  simulator/runner/doublecheck.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/shrink/plan.rs
  sql_generation/model/query/transaction.rs
Labels: simulator

#3228 translate/emitter: Implement partial indexes
  core/error.rs
  core/incremental/operator.rs
  core/schema.rs
  core/storage/btree.rs
  core/translate/compound_select.rs
  core/translate/delete.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/optimizer/constraints.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
  core/translate/select.rs
  core/translate/update.rs
  core/translate/upsert.rs
  core/util.rs
  core/vdbe/execute.rs
  testing/all.test
  testing/partial_idx.test
  tests/integration/fuzz/mod.rs
Labels: core, optimizer, translation/planning, vdbe, Storage

#3244 mvcc: add blocking checkpoint lock
  core/mvcc/database/mod.rs
Labels: core, mvcc

#3266 JavaScript bindings browser tests
  .github/workflows/napi.yml
Labels: ci-actions, JS-Bindings

#3272 Simulator Runtime generation
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/runner/differential.rs
  simulator/runner/doublecheck.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/shrink/plan.rs
Labels: simulator

#3294 antithesis-tests: Rename "utils.py" to "helper_utils.py"
  antithesis-tests/stress-composer/helper_utils.py
  antithesis-tests/stress-composer/parallel_driver_delete.py
  antithesis-tests/stress-composer/parallel_driver_insert.py
  antithesis-tests/stress-composer/parallel_driver_rollback.py
  antithesis-tests/stress-composer/parallel_driver_update.py
Labels: antithesis

#3297 Fix program counter update in sequence test op
  core/vdbe/execute.rs
Labels: core, vdbe

#3296 core/mvcc: Wrap Transaction::database_header with RwLock
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
Labels: core, mvcc

#3245 core/mvcc/logical-log: on disk format for logical log
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3298 Add built-in manual pages for Turso
  Cargo.lock
  cli/Cargo.toml
  cli/app.rs
  cli/build.rs
  cli/commands/args.rs
  cli/commands/mod.rs
  cli/input.rs
  cli/main.rs
  cli/manual.rs
  cli/manuals/cdc.md
  cli/manuals/encryption.md
  cli/manuals/index.md
  cli/manuals/mcp.md
  cli/manuals/vector.md
Labels: cli

#3310 core: Wrap Connection::attached_databases with RwLock
  core/lib.rs
Labels: core

#3331 use a different seed for `gen_rng`
  simulator/runner/env.rs
Labels: simulator

#3263 mvcc: add blocking checkpoint
  core/benches/mvcc_benchmark.rs
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/fuzz_transaction/mod.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, mvcc, vdbe, Perf/Benchmarks

#3290 Fix result columns binding precedence
  core/schema.rs
  core/translate/expr.rs
  core/translate/insert.rs
  core/translate/planner.rs
  core/translate/select.rs
  core/translate/update.rs
  testing/groupby.test
  testing/orderby.test
  testing/where.test
Labels: core, translation/planning

#3333 MVCC: support alter table
  core/mvcc/database/mod.rs
  core/vdbe/execute.rs
  tests/integration/fuzz_transaction/mod.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, mvcc, vdbe

#3323 core/mvcc/logical-log: load logical log from disk
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3342 Fix .schema command for empty databases
  bindings/python/src/lib.rs
  cli/app.rs
  parser/src/parser.rs
  whopper/main.rs
Labels: cli, Python-Bindings

#3341 Disallow ORDER BY and LIMIT in a non-compound VALUES() statement
  core/translate/select.rs
Labels: core, translation/planning

#3256 Implement json_tree
  COMPAT.md
  core/json/jsonb.rs
  core/json/vtab.rs
  core/vtab.rs
  testing/json.test
Labels: core, Json

#3347 Fix ungrouped aggregate with offset clause
  core/translate/aggregation.rs
  testing/offset.test
Labels: core, translation/planning

#3345 Fix CREATE INDEX with quoted identifiers
  core/translate/index.rs
  parser/src/parser.rs
  testing/all.test
  testing/create_index.test
Labels: core, translation/planning

#3351 Improve DBSP view serialization
  Cargo.lock
  core/Cargo.toml
  core/incremental/aggregate_operator.rs
  core/incremental/compiler.rs
  core/incremental/dbsp.rs
  core/incremental/join_operator.rs
  core/incremental/merge_operator.rs
  core/incremental/operator.rs
  core/incremental/persistence.rs
  core/schema.rs
  core/translate/delete.rs
  core/translate/insert.rs
  core/translate/planner.rs
  core/translate/update.rs
  core/translate/view.rs
Labels: core, translation/planning

#3338 translate: disallow creating/dropping internal tables
  core/schema.rs
  core/translate/index.rs
  core/translate/schema.rs
Labels: core, translation/planning

#3379 fix encryption config in the sync-client
  bindings/javascript/sync/packages/browser/promise-bundle.ts
  bindings/javascript/sync/packages/browser/promise-default.ts
  bindings/javascript/sync/packages/browser/promise-turbopack-hack.ts
  bindings/javascript/sync/packages/browser/promise-vite-dev-hack.ts
  bindings/javascript/sync/packages/common/index.ts
  bindings/javascript/sync/packages/common/types.ts
  bindings/javascript/sync/packages/native/index.d.ts
  bindings/javascript/sync/packages/native/index.js
  bindings/javascript/sync/packages/native/promise.ts
Labels: JS-Bindings

#3378 core/storage: Display page category for rowid integrity check failure
  core/storage/btree.rs
Labels: core, Storage

#3361 Make MVCC code Send and Sync
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3374 bench/tpch: remove "cast('yyyy-mm-dd' as datetime)"
  perf/tpc-h/queries/1.sql
  perf/tpc-h/queries/10.sql
  perf/tpc-h/queries/12.sql
  perf/tpc-h/queries/14.sql
  perf/tpc-h/queries/15.sql
  perf/tpc-h/queries/20.sql
  perf/tpc-h/queries/3.sql
  perf/tpc-h/queries/4.sql
  perf/tpc-h/queries/5.sql
  perf/tpc-h/queries/6.sql
  perf/tpc-h/queries/7.sql
  perf/tpc-h/queries/8.sql
  perf/tpc-h/run.sh
Labels: Perf/Benchmarks

#3377 github: Add 30 minute timeout to all jobs
  .github/workflows/build-sim.yml
  .github/workflows/c-compat.yml
  .github/workflows/dart.yml
  .github/workflows/java.yml
  .github/workflows/labeler.yml
  .github/workflows/long_fuzz_tests_btree.yml
  .github/workflows/napi.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/rust_perf.yml
  .github/workflows/stale.yml
Labels: ci-actions

#3355 resolve column alias after rewritting column access in the expression in returning insert clause
  core/translate/expr.rs
Labels: core, translation/planning

#3356 length shall not count when it sees nullc
  core/vdbe/execute.rs
  testing/scalar-functions.test
Labels: core, vdbe

#3385 core/translate: allow creating column called 'rowid'
  core/schema.rs
  core/translate/expr.rs
  core/translate/update.rs
  parser/src/parser.rs
  testing/create_table.test
Labels: core, translation/planning

#3262 Sqlean fuzzy string
  Cargo.lock
  Cargo.toml
  extensions/fuzzy/Cargo.toml
  extensions/fuzzy/build.rs
  extensions/fuzzy/src/caver.rs
  extensions/fuzzy/src/common.rs
  extensions/fuzzy/src/editdist.rs
  extensions/fuzzy/src/lib.rs
  extensions/fuzzy/src/phonetic.rs
  extensions/fuzzy/src/rsoundex.rs
  extensions/fuzzy/src/soundex.rs
  extensions/fuzzy/src/translit.rs
  testing/cli_tests/extensions.py
Labels: extensions-other

#3403 core/translate: rewrite default column value from identifier to string literal
  core/schema.rs
Labels: core

#3399 core/storage: Mark Page as Send and Sync
  core/storage/pager.rs
Labels: core, Storage

#3411 core/storage: Wrap WalFile::max_frame_read_lock_index with AtomicUsize
  core/storage/wal.rs
Labels: core, Storage

#3414 core/storage: Wrap WalFile::{max,min}_frame with AtomicU64
  core/storage/wal.rs
Labels: core, Storage

#3421 Fix zero limit
  bindings/javascript/packages/native/promise.test.ts
  core/translate/compound_select.rs
  core/translate/emitter.rs
  tests/integration/query_processing/test_read_path.rs
Labels: core, optimizer, translation/planning, vdbe, JS-Bindings

#3426 core: Disallow CREATE INDEX when MVCC is enabled
  core/lib.rs
  core/translate/index.rs
Labels: core, translation/planning

#3429 Fix materialized views with complex expressions
  core/translate/logical.rs
  testing/materialized_views.test
Labels: core, translation/planning

#3439 substr scalar should also work with non-text values
  core/types.rs
  core/vdbe/execute.rs
  testing/scalar-functions.test
Labels: core, vdbe

#3440 Remove double-quoted identifier assert
  core/translate/optimizer/mod.rs
  testing/cli_tests/cli_test_cases.py
  testing/cli_tests/extensions.py
  testing/cli_tests/memory.py
  testing/default_value.test
  testing/select.test
Labels: core, optimizer

#3416 sum() can throw integer overflow
  core/vdbe/execute.rs
  tests/integration/functions/mod.rs
  tests/integration/functions/test_sum.rs
Labels: core, vdbe

#3427 small improvement of stress testing tool
  stress/main.rs
Labels: antithesis

#3451 core/storage: Remove unused import from encryption.rs
  core/storage/encryption.rs
Labels: core, Storage
