Repository tursodatabase/turso, pull requests merged in 2025-05, with the labels that each got.

#1547 cli/fix: Apply default config for app
  cli/app.rs
Labels: Extensions-Other, Cli

#1544 CSV virtual table extension
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/ext/mod.rs
  core/lib.rs
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/schema.rs
  core/util.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  extensions/completion/src/lib.rs
  extensions/core/README.md
  extensions/core/src/lib.rs
  extensions/core/src/vtabs.rs
  extensions/csv/Cargo.toml
  extensions/csv/src/lib.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
  macros/src/ext/vtab_derive.rs
  macros/src/lib.rs
  scripts/publish-crates.sh
  testing/cli_tests/extensions.py
Labels: core, Extensions-Other, Translation/Planning, VDBE, ExtensionLib, Macros

#1523 Page cache fixes
  core/error.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core, Extensions-Other, Translation/Planning, VDBE, Storage

#1543 Initial Support for Nested Translation
  core/lib.rs
  core/translate/delete.rs
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/transaction.rs
  core/translate/update.rs
  core/vdbe/builder.rs
Labels: core, Extensions-Other, Translation/Planning, VDBE

#1551 Fix labeler labeling everything as Extensions-Other
  .github/labeler.yml
Labels: Extensions-Other

#1554 sqlite3: Switch to tracing logger
  Cargo.lock
  sqlite3/Cargo.toml
  sqlite3/src/lib.rs
Labels: Sqlite3

#1548 Drop Table OpCodes Use Ephemeral Table As Scratch Table
  core/storage/btree.rs
  core/translate/schema.rs
  core/vdbe/execute.rs
Labels: core, Translation/Planning, VDBE, Storage

#1549 Support values statement and values in select
  core/translate/emitter.rs
  core/translate/mod.rs
  core/translate/plan.rs
  core/translate/select.rs
  core/translate/values.rs
  core/vdbe/execute.rs
  testing/all.test
  testing/values.test
Labels: core, Translation/Planning, VDBE

#1559 core/pragma: Add support for update user_version
  COMPAT.md
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  testing/pragma.test
Labels: core, Translation/Planning, Storage

#1556 fix bindings/wasm wal file creation by implementing `generate_random_number`
  bindings/wasm/lib.rs
Labels: WASM-Bindings

#1563 btree: fix infinite looping in backwards iteration of btree table
  core/storage/btree.rs
  testing/orderby.test
  tests/integration/fuzz/mod.rs
Labels: core, Storage

#1541 UNION ALL
  core/translate/aggregation.rs
  core/translate/emitter.rs
  core/translate/group_by.rs
  core/translate/main_loop.rs
  core/translate/optimizer/mod.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/result_row.rs
  core/translate/select.rs
  core/translate/subquery.rs
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: core, optimizer, Translation/Planning

#1560 TPC-H with criterion and nyrkio
  .github/workflows/rust_perf.yml
  Makefile
  core/Cargo.toml
  core/benches/tpc_h_benchmark.rs
Labels: core, Perf/Benchmarks, CI-Actions

#1568 set non-shared cache by default
  core/lib.rs
Labels: core

#1570 Reconstruct WAL frame cache when WAL is opened
  Cargo.lock
  bindings/rust/Cargo.toml
  bindings/rust/src/lib.rs
  core/fast_lock.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  tests/integration/common.rs
Labels: core, Storage, Rust-Bindings

#1572 Fix off-by-one error in max_frame after WAL load
  bindings/rust/src/lib.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage, Rust-Bindings

#1561 Refactor: add stable internal_id property to TableReference
  core/lib.rs
  core/translate/delete.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/translate/main_loop.rs
  core/translate/optimizer/access_method.rs
  core/translate/optimizer/constraints.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  core/vdbe/builder.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, optimizer, Translation/Planning, VDBE

#1545 UNION
  core/translate/emitter.rs
  core/translate/main_loop.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/result_row.rs
  core/translate/select.rs
  core/translate/subquery.rs
  core/translate/values.rs
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: core, optimizer, Translation/Planning

#1573 Add PThorpe92 to codeowners file for extensions + go bindings
  docs/CODEOWNERS
Labels: Docs

#1578 Small cleanups to pager/wal/vdbe - mostly naming
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/common.rs
Labels: core, VDBE, Storage

#1566 feature: `INSERT INTO <table> SELECT`
  core/lib.rs
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/mod.rs
  core/translate/planner.rs
  core/translate/select.rs
  core/vdbe/builder.rs
  core/vdbe/explain.rs
  testing/insert.test
  tests/integration/query_processing/test_write_path.rs
Labels: core, Translation/Planning, VDBE

#1582 bind/js: Add support for bind() method and reduce boilerplate
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/limbo.spec.mjs
  bindings/javascript/src/lib.rs
  bindings/javascript/wrapper.js
Labels: JS-Bindings

#1584 Reset idx delete state after successful finish
  core/vdbe/execute.rs
Labels: core, VDBE

#1597 Make WhereTerm::consumed a Cell<bool>
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
  core/translate/planner.rs
Labels: core, optimizer, Translation/Planning

#1585 add stress test with 1 thread 10k iterations to ci
  .github/workflows/long_fuzz_tests_btree.yml
  stress/main.rs
  stress/opts.rs
Labels: antithesis, CI-Actions

#1627 simulator: switch to tracing, run io.run_once and add update queries
  Cargo.lock
  simulator/Cargo.toml
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/main.rs
  simulator/model/query/mod.rs
  simulator/model/query/update.rs
  simulator/runner/bugbase.rs
  simulator/runner/cli.rs
  simulator/runner/differential.rs
  simulator/runner/execution.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
  simulator/runner/watch.rs
  simulator/shrink/plan.rs
Labels: simulator

#1632 Convert u64 rowid to i64
  core/lib.rs
  core/mvcc/database/mod.rs
  core/mvcc/mod.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  testing/insert.test
  tests/integration/functions/test_function_rowid.rs
Labels: core, mvcc, VDBE, Storage
