Repository tursodatabase/turso, pull requests merged in 2025-06, with the labels that each got.

#1644 simulator: add option to disable BugBase
  simulator/main.rs
  simulator/runner/cli.rs
Labels: simulator

#1621 Pass input string to `translate` function
  core/lib.rs
  core/translate/mod.rs
Labels: core, Translation/Planning

#1635 Small tracing enhancement
  cli/app.rs
  core/vdbe/mod.rs
Labels: core, VDBE, Cli

#1636 Make cursor seek reentrant
  core/storage/btree.rs
  core/vdbe/execute.rs
  testing/cli_tests/memory.py
  testing/cli_tests/write.py
  testing/update.test
Labels: core, VDBE, Storage

#1652 Fix cursors not being opened for indexes in DELETE
  core/translate/emitter.rs
  core/translate/main_loop.rs
  testing/delete.test
Labels: core, Translation/Planning

#1642 Add support for pragma table-valued functions
  core/lib.rs
  core/pragma.rs
  core/translate/planner.rs
  core/types.rs
  core/util.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  core/vtab.rs
  testing/cli_tests/extensions.py
  testing/pragma.test
Labels: core, Translation/Planning, VDBE

#1647 Fix WAL frame checksum mismatch
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#1657 simulator: options to disable certain query types
  simulator/generation/property.rs
  simulator/generation/query.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
Labels: simulator

#1634 Write database header via normal pager route
  cli/app.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
Labels: core, Translation/Planning, VDBE, Storage, Cli

#1660 stress: Use temporary file unless one explicitly specified
  .gitignore
  Cargo.lock
  stress/Cargo.toml
  stress/main.rs
  stress/opts.rs
Labels: antithesis

#1656 simulator: add CREATE INDEX to interactions
  .gitignore
  simulator/generation/mod.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/model/query/create_index.rs
  simulator/model/query/mod.rs
  simulator/runner/cli.rs
  simulator/runner/differential.rs
  simulator/runner/env.rs
Labels: simulator

#1655 simulator: log the interaction about to be executed with INFO
  simulator/runner/execution.rs
Labels: simulator

#1672 Fix: ensure `PRAGMA cache_size` changes persist only for current session
  core/lib.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  testing/pragma.test
Labels: core, Translation/Planning, Storage

#1600 Beginnings of AUTOVACUUM
  core/Cargo.toml
  core/pragma.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  limbostress.log
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, Translation/Planning, VDBE, Storage

#1663 bindings/javascript: Refactor presentation mode and enhance test suite
  bindings/javascript/README.md
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/limbo.spec.mjs
  bindings/javascript/docs/API.md
  bindings/javascript/docs/CONTRIBUTING.md
  bindings/javascript/src/lib.rs
Labels: JS-Bindings

#1670 bindings/javascript: Add source property to Statement
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/limbo.spec.mjs
  bindings/javascript/wrapper.js
Labels: JS-Bindings

#1687 bindings/java: Implement JDBC4DatabaseMetadata getTables
  bindings/java/src/main/java/tech/turso/core/LimboResultSet.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4DatabaseMetaData.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4PreparedStatement.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4ResultSet.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4DatabaseMetaDataTest.java
Labels: Java-Bindings

#1693 Fix rowid to_sql_string
  core/translate/optimizer/mod.rs
  vendored/sqlite3-parser/src/to_sql_string/expr.rs
Labels: core, optimizer

#1707 fix: Incorrect placeholder label in where clause translation
  core/translate/emitter.rs
  core/translate/expr.rs
  testing/update.test
Labels: core, Translation/Planning

#1697 Simulator integrity_check
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  simulator/Cargo.toml
  simulator/main.rs
  simulator/runner/bugbase.rs
  simulator/runner/cli.rs
  tests/Cargo.toml
Labels: simulator, Cli

#1712 Simulator: Better Shrinking
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/model/query/mod.rs
  simulator/shrink/plan.rs
Labels: simulator

#1680 Add affinity-based type coercion for seek and comparison operation
  core/schema.rs
  core/translate/expr.rs
  core/translate/main_loop.rs
  core/vdbe/execute.rs
  core/vdbe/insn.rs
  tests/integration/fuzz/mod.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, Translation/Planning, VDBE

#1723 Fix large inserts to unique indexes hanging
  core/vdbe/execute.rs
  tests/integration/common.rs
Labels: core, VDBE

#1527 Complete ALTER TABLE implementation
  core/function.rs
  core/schema.rs
  core/translate/alter.rs
  core/translate/delete.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/mod.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/update.rs
  core/types.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/expression.rs
  fuzz/fuzz_targets/schema.rs
  testing/alter_table.test
  vendored/sqlite3-parser/src/lexer/sql/test.rs
  vendored/sqlite3-parser/src/parser/ast/check.rs
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
Labels: core, optimizer, Extensions-Other, Translation/Planning, Fuzzing, VDBE

#1718 Refactor compound select
  core/translate/compound_select.rs
  core/translate/display.rs
  core/translate/emitter.rs
  core/translate/mod.rs
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
  core/translate/select.rs
Labels: core, optimizer, Translation/Planning

#1749 Switch Connection to use Arc instead of Rc
  bindings/go/rs_src/lib.rs
  bindings/java/rs_src/limbo_connection.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  bindings/rust/src/lib.rs
  bindings/wasm/lib.rs
  cli/app.rs
  cli/commands/import.rs
  cli/helper.rs
  core/ext/dynamic.rs
  core/ext/vtab_xconnect.rs
  core/lib.rs
  core/pragma.rs
  core/storage/btree.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/core/src/vtabs.rs
  extensions/csv/src/lib.rs
  extensions/series/src/lib.rs
  extensions/tests/src/lib.rs
  macros/src/ext/vtab_derive.rs
  simulator/generation/plan.rs
  simulator/runner/env.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: simulator, core, Translation/Planning, VDBE, ExtensionLib, Macros, Storage, Cli, Sqlite3, WASM-Bindings, Rust-Bindings, JS-Bindings, Java-Bindings, Python-Bindings, Go-Bindings

#1744 Return parse error instead of corrupt error for `no such table`
  core/translate/delete.rs
  core/translate/insert.rs
Labels: core, Translation/Planning

#1719 Simple integrity check on btree
  core/pragma.rs
  core/storage/btree.rs
  core/translate/integrity_check.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
  testing/all.test
  testing/integrity_check.test
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, Translation/Planning, VDBE, Storage

#1759 Fix incorrect lossy conversion of `Value::Blob` to a utf-8 `String`
  core/vdbe/execute.rs
Labels: core, VDBE

#1765 Implement pragma wal_checkpoint(<MODE>)
  core/storage/wal.rs
  core/translate/pragma.rs
Labels: core, Translation/Planning, Storage

#1758 index_experimental flag to enable index usages
  .github/workflows/long_fuzz_tests_btree.yml
  .github/workflows/rust.yml
  Makefile
  bindings/java/src/test/java/tech/turso/IntegrationTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4ConnectionTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4ResultSetTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4StatementTest.java
  bindings/python/tests/test_database.py
  cli/Cargo.toml
  core/Cargo.toml
  core/schema.rs
  core/storage/btree.rs
  core/translate/alter.rs
  core/translate/compound_select.rs
  core/translate/delete.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/optimizer/mod.rs
  core/translate/planner.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  scripts/limbo-sqlite3-index-experimental
  testing/agg-functions.test
  testing/cli_tests/test_limbo_cli.py
  testing/create_table.test
  testing/delete.test
  testing/drop_index.test
  testing/drop_table.test
  testing/groupby.test
  testing/insert.test
  testing/join.test
  testing/orderby.test
  testing/select.test
  testing/subquery.test
  testing/update.test
  testing/where.test
  tests/Cargo.toml
  tests/integration/common.rs
  tests/integration/fuzz/mod.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core, optimizer, Translation/Planning, Storage, Cli, CI-Actions, Java-Bindings, Python-Bindings

#1772 github: Node 18 is EOL
  .github/workflows/napi.yml
Labels: CI-Actions

#1769 antithesis-tests: Make test drivers robust when database is locked
  antithesis-tests/bank-test/anytime_validate.py
  antithesis-tests/bank-test/eventually_validate.py
  antithesis-tests/bank-test/finally_validate.py
  antithesis-tests/bank-test/first_setup.py
  antithesis-tests/bank-test/parallel_driver_generate_transaction.py
  antithesis-tests/stress-composer/first_setup.py
  antithesis-tests/stress-composer/parallel_driver_delete.py
  antithesis-tests/stress-composer/parallel_driver_insert.py
  antithesis-tests/stress-composer/parallel_driver_update.py
Labels: antithesis

#1786 Fix fuzz issue #1763 by using the `log2` & `log10` functions where applicable
  core/vdbe/execute.rs
  tests/integration/fuzz/mod.rs
Labels: core, VDBE

#1802 simulator: integrity check per query
  simulator/runner/execution.rs
Labels: simulator

#1798 bindings/rust: Implement Debug for Connection
  bindings/rust/src/lib.rs
Labels: Rust-Bindings

#1785 Add Pedro to email recipients for antithesis
  .github/workflows/antithesis.yml
Labels: CI-Actions

#1761 Fix database header initialization
  Cargo.lock
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/Cargo.toml
  core/lib.rs
  core/storage/btree.rs
  core/storage/buffer_pool.rs
  core/storage/database.rs
  core/storage/header_accessor.rs
  core/storage/mod.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  simulator/generation/plan.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
Labels: simulator, core, antithesis, Translation/Planning, VDBE, Storage, Cli, WASM-Bindings, Perf/Benchmarks, CI-Actions, Rust-Bindings, JS-Bindings

#1822 stress: reopen db / reconnect to db every now and then
  stress/main.rs
Labels: antithesis

#1825 `Rollback` simple support
  cli/app.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/translate/mod.rs
  core/translate/rollback.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  testing/all.test
  testing/rollback.test
Labels: core, Translation/Planning, VDBE, Storage, Cli

#1839 write page1 on database initialization
  core/lib.rs
  core/storage/btree.rs
  core/storage/header_accessor.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, VDBE, Storage

#1770 Simulator: add latency to File IO
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
Labels: simulator, core, Storage, IO, WASM-Bindings, JS-Bindings

#1854 bindings/python: Rename package to `pyturso`
  Cargo.lock
  README.md
  antithesis-tests/bank-test/anytime_validate.py
  antithesis-tests/bank-test/eventually_validate.py
  antithesis-tests/bank-test/finally_validate.py
  antithesis-tests/bank-test/first_setup.py
  antithesis-tests/bank-test/parallel_driver_generate_transaction.py
  antithesis-tests/pyproject.toml
  antithesis-tests/stress-composer/first_setup.py
  antithesis-tests/stress-composer/parallel_driver_delete.py
  antithesis-tests/stress-composer/parallel_driver_insert.py
  antithesis-tests/stress-composer/parallel_driver_integritycheck.py
  antithesis-tests/stress-composer/parallel_driver_rollback.py
  antithesis-tests/stress-composer/parallel_driver_update.py
  bindings/python/Cargo.toml
  bindings/python/example.py
  bindings/python/limbo/_limbo.pyi
  bindings/python/pyproject.toml
  bindings/python/requirements-dev.txt
  bindings/python/requirements.txt
  bindings/python/src/lib.rs
  bindings/python/tests/test_database.py
  bindings/python/turso/__init__.py
  bindings/python/turso/py.typed
Labels: antithesis, Python-Bindings

#1857 bindings/javascript: Rename package to `@tursodatabase/turso`
  .github/workflows/napi.yml
  Cargo.lock
  bindings/javascript/Cargo.toml
  bindings/javascript/index.js
  bindings/javascript/npm/darwin-universal/package.json
  bindings/javascript/npm/linux-x64-gnu/package.json
  bindings/javascript/npm/win32-x64-msvc/README.md
  bindings/javascript/npm/win32-x64-msvc/package.json
  bindings/javascript/package.json
  bindings/javascript/yarn.lock
Labels: ci-actions, JS-Bindings

#1863 Fix executing multiple statements
  core/lib.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core

#1852 Cache `reserved_space` and `page_size` values at Pager init to prevent doing redundant IO
  core/storage/pager.rs
Labels: core, Storage

#1865 Remove dependency on test extension pkg
  Cargo.lock
  core/Cargo.toml
  core/ext/dynamic.rs
  testing/cli_tests/extensions.py
  uv.lock
Labels: core, extensionlib

#1878 stress: Log reopen and reconnect
  stress/main.rs
Labels: antithesis

#1881 Rename `limbo_macros` to `turso_macros`
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/vdbe/insn.rs
  extensions/core/Cargo.toml
  extensions/core/src/lib.rs
  fuzz/Cargo.lock
  macros/Cargo.toml
  perf/latency/limbo/Cargo.lock
  perf/latency/limbo/src/main.rs
  scripts/publish-crates.sh
Labels: core, fuzzing, vdbe, extensionlib, Macros, Perf/Benchmarks

#1882 Rename `limbo_ext` crate to `turso_ext`
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/error.rs
  core/ext/dynamic.rs
  core/ext/mod.rs
  core/ext/vtab_xconnect.rs
  core/function.rs
  core/io/vfs.rs
  core/translate/main_loop.rs
  core/translate/plan.rs
  core/translate/schema.rs
  core/types.rs
  core/util.rs
  core/vtab.rs
  extensions/completion/Cargo.toml
  extensions/completion/src/lib.rs
  extensions/core/Cargo.toml
  extensions/core/README.md
  extensions/crypto/Cargo.toml
  extensions/crypto/src/crypto.rs
  extensions/crypto/src/lib.rs
  extensions/csv/Cargo.toml
  extensions/csv/src/lib.rs
  extensions/ipaddr/Cargo.toml
  extensions/ipaddr/src/lib.rs
  extensions/percentile/Cargo.toml
  extensions/percentile/src/lib.rs
  extensions/regexp/Cargo.toml
  extensions/regexp/src/lib.rs
  extensions/series/Cargo.toml
  extensions/series/src/lib.rs
  extensions/tests/Cargo.toml
  extensions/tests/src/lib.rs
  extensions/time/Cargo.toml
  extensions/time/src/lib.rs
  extensions/time/src/time.rs
  extensions/uuid/Cargo.toml
  extensions/uuid/src/lib.rs
  fuzz/Cargo.lock
  macros/src/ext/agg_derive.rs
  macros/src/ext/mod.rs
  macros/src/ext/scalars.rs
  macros/src/ext/vfs_derive.rs
  macros/src/ext/vtab_derive.rs
  macros/src/lib.rs
  perf/latency/limbo/Cargo.lock
  scripts/publish-crates.sh
  testing/cli_tests/extensions.py
Labels: core, translation/planning, fuzzing, extensionlib, Macros, IO, Perf/Benchmarks

#1866 WAL record db_size frame on commit last frame
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core, Storage

#1907 bind/js: add tests for expand
  bindings/javascript/__test__/better-sqlite3.spec.mjs
Labels: JS-Bindings

#1905 Rust binding improvements
  Cargo.lock
  bindings/rust/Cargo.toml
  bindings/rust/examples/example.rs
  bindings/rust/src/lib.rs
  bindings/rust/src/params.rs
  bindings/rust/src/row.rs
  bindings/rust/src/statement.rs
  bindings/rust/src/value.rs
  bindings/rust/tests/integration_tests.rs
  stress/main.rs
Labels: antithesis, rust-bindings
