Repository tursodatabase/turso, pull requests merged in 2025-08, with the labels that each got.

#2376 Support the OFFSET clause for Compound select
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/order_by.rs
  core/translate/result_row.rs
  core/translate/select.rs
  core/translate/values.rs
  core/vdbe/explain.rs
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: core, translation/planning, vdbe

#2375 Force Sqlite to parse schema on connection benchmark
  core/benches/benchmark.rs
Labels: core, Perf/Benchmarks

#2380 fix/wal: reset ongoing checkpoint state when checkpoint fails
  core/storage/wal.rs
Labels: core, Storage

#2345 core/mvcc: Persist changes through pager on commit
  core/benches/mvcc_benchmark.rs
  core/lib.rs
  core/mvcc/cursor.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/mod.rs
  core/storage/btree.rs
  core/storage/wal.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, mvcc, vdbe, Storage, Perf/Benchmarks

#2364 test/fuzz/transactions: add "PRAGMA wal_checkpoint" to txn isolation fuzz test
  bindings/rust/tests/transaction_isolation_fuzz.rs
Labels: core, vdbe, Storage, rust-bindings

#2372 Implement JavaScript bindings with minimal Rust core
  bindings/javascript/Cargo.toml
  bindings/javascript/__test__/artifacts/basic-test.sql
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/dual-test.mjs
  bindings/javascript/__test__/sync.spec.mjs
  bindings/javascript/bind.js
  bindings/javascript/index.d.ts
  bindings/javascript/package.json
  bindings/javascript/perf/package-lock.json
  bindings/javascript/perf/package.json
  bindings/javascript/perf/perf-better-sqlite3.js
  bindings/javascript/perf/perf-turso.js
  bindings/javascript/promise.js
  bindings/javascript/src/lib.rs
  bindings/javascript/sync.js
  testing/javascript/__test__/async.test.js
Labels: JS-Bindings

#2389 Enable indexes by default
  .github/workflows/rust.yml
  bindings/python/src/lib.rs
  bindings/rust/Cargo.toml
  cli/app.rs
  core/translate/alter.rs
  core/translate/delete.rs
  core/translate/insert.rs
  core/translate/schema.rs
  core/translate/update.rs
  perf/clickbench/benchmark.sh
  perf/clickbench/run.sh
  perf/tpc-h/run.sh
  stress/Cargo.toml
  testing/agg-functions.test
  testing/alter_table.test
  testing/create_table.test
  testing/delete.test
  testing/drop_index.test
  testing/drop_table.test
  testing/groupby.test
  testing/insert.test
  testing/join.test
  testing/orderby.test
  testing/rollback.test
  testing/select.test
  testing/subquery.test
  testing/update.test
  testing/where.test
Labels: core, antithesis, translation/planning, cli, Perf/Benchmarks, ci-actions, rust-bindings, Python-Bindings

#2384 core/mvcc: Move commit_txn() to generic state machinery
  core/error.rs
  core/lib.rs
  core/mvcc/cursor.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/errors.rs
  core/mvcc/mod.rs
  core/mvcc/persistent_storage/mod.rs
  core/state_machine.rs
  core/vdbe/mod.rs
Labels: core, mvcc, vdbe

#2392 Single quotes inside a string literal have to be doubled in `translate_alter_table`
  core/translate/alter.rs
  testing/alter_table.test
Labels: core, translation/planning

#2397 Fix numeric overflow in numeric string parsing in logical comparision
  core/vdbe/execute.rs
  testing/scalar-functions.test
Labels: core, vdbe

#2394 use state machine for NoConflict opcode
  core/vdbe/execute.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core, vdbe

#2377 bindings/rust: Enhance API by removing verbosity
  bindings/rust/src/lib.rs
  bindings/rust/src/rows.rs
  bindings/rust/src/transaction.rs
  bindings/rust/tests/integration_tests.rs
  core/error.rs
  core/types.rs
Labels: core, rust-bindings

#2398 Update cargo-dist to the latest official version
  .github/workflows/release.yml
  dist-workspace.toml
Labels: ci-actions

#2401 core: Fold HeaderRef to pager module
  core/storage/header_accessor.rs
  core/storage/mod.rs
  core/storage/pager.rs
Labels: core, Storage

#2403 Rename liblimbo_sqlite3 to libturso_sqlite3
  CONTRIBUTING.md
  Cargo.lock
  Makefile
  sqlite3/Cargo.toml
  sqlite3/tests/compat/mod.rs
Labels: Sqlite3

#2407 perf/pager: dont clear page cache on commit
  core/storage/pager.rs
Labels: core, Storage

#2409 perf/btree: skip seek in move_to_rightmost() if we are already on rightmost page
  core/storage/btree.rs
  core/vdbe/execute.rs
Labels: core, vdbe, Storage

#2417 Make completions idempotent
  core/io/mod.rs
Labels: core, IO

#2422 fix/wal: remove start_pages_in_frames_hack to prevent checkpoint data loss
  core/storage/wal.rs
Labels: core, Storage

#2433 extend raw WAL API with few more methods
  bindings/rust/src/lib.rs
  core/lib.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/types.rs
  packages/turso-sync/src/database_inner.rs
  packages/turso-sync/src/sync_server/test.rs
  sqlite3/src/lib.rs
  tests/integration/functions/test_wal_api.rs
Labels: core, Storage, Sqlite3, rust-bindings

#2214 Reprepare Statements when Schema changes
  core/error.rs
  core/lib.rs
  core/storage/pager.rs
  core/translate/alter.rs
  core/translate/attach.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/translate/rollback.rs
  core/translate/schema.rs
  core/translate/transaction.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
  tests/integration/query_processing/test_multi_thread.rs
Labels: core, translation/planning, vdbe, Storage, cli

#2258 Update defragment page to defragment in-place
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2442 bindings/rust: add with_mvcc option
  bindings/rust/src/lib.rs
Labels: rust-bindings

#2435 Relax I/O configuration attribute to cover all Unixes
  Cargo.lock
  core/io/mod.rs
  tests/Cargo.toml
Labels: core, IO

#2445 cleanup: remove unused page uptodate flag
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2453 Remove Clone impl for Buffer and PageContent
  core/io/mod.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage, IO

#2456 Remove RefCell from Buffer in IO trait methods and PageContents
  bindings/javascript/src/lib.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/sorter.rs
  simulator/runner/file.rs
  tests/integration/query_processing/test_btree.rs
Labels: simulator, core, vdbe, Storage, IO, JS-Bindings

#2463 core/btree: fix re-entrancy bug in insert_into_page()
  core/storage/btree.rs
  core/types.rs
Labels: core, Storage

#2466 refactor/btree: don't clone WriteState during balancing
  core/storage/btree.rs
Labels: core, Storage

#2459 Add load_insn macro for compiler hint in vdbe::execute hot path
  core/vdbe/execute.rs
Labels: core, vdbe

#2465 Add regexp capture
  COMPAT.md
  extensions/regexp/src/lib.rs
  testing/cli_tests/extensions.py
Labels: extensions-other

#2426 cdc: emit entries for schema changes
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  packages/turso-sync/src/database_tape.rs
  tests/integration/functions/test_cdc.rs
Labels: core, translation/planning

#2452 Direct schema mutation – add `DropColumn` instruction
  core/benches/benchmark.rs
  core/translate/alter.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core, translation/planning, vdbe, Perf/Benchmarks

#2477 Fix panic on loading extension on brand new connection
  core/ext/dynamic.rs
  testing/cli_tests/extensions.py
Labels: core, extensionlib

#2457 turso-sync: rewrite
  Cargo.lock
  Cargo.toml
  bindings/rust/src/lib.rs
  core/storage/pager.rs
  core/storage/wal.rs
  packages/turso-sync-engine/.gitignore
  packages/turso-sync-engine/Cargo.toml
  packages/turso-sync-engine/src/database_sync_engine.rs
  packages/turso-sync-engine/src/database_sync_operations.rs
  packages/turso-sync-engine/src/database_tape.rs
  packages/turso-sync-engine/src/errors.rs
  packages/turso-sync-engine/src/io_operations.rs
  packages/turso-sync-engine/src/lib.rs
  packages/turso-sync-engine/src/protocol_io.rs
  packages/turso-sync-engine/src/test_context.rs
  packages/turso-sync-engine/src/test_empty.db
  packages/turso-sync-engine/src/test_protocol_io.rs
  packages/turso-sync-engine/src/test_sync_server.rs
  packages/turso-sync-engine/src/types.rs
  packages/turso-sync-engine/src/wal_session.rs
Labels: core, translation/planning, Storage, rust-bindings, JS-Bindings

#2486 javascript: Implement Statement.iterate()
  bindings/javascript/promise.js
  bindings/javascript/sync.js
  testing/javascript/__test__/async.test.js
  testing/javascript/__test__/sync.test.js
Labels: JS-Bindings

#2494 SQLite C API improvements: add basic bind and column functions
  sqlite3/include/sqlite3.h
  sqlite3/src/lib.rs
  sqlite3/tests/Makefile
  sqlite3/tests/compat/mod.rs
  sqlite3/tests/sqlite3_tests.c
Labels: Sqlite3

#2437 Add .clone CLI command to copy database files
  bindings/javascript/src/lib.rs
  cli/app.rs
  cli/commands/args.rs
  cli/commands/mod.rs
  cli/input.rs
  core/io/mod.rs
  core/lib.rs
  core/storage/database.rs
  testing/cli_tests/cli_test_cases.py
  testing/cli_tests/test_turso_cli.py
Labels: core, Storage, cli, IO, JS-Bindings

#2482 Direct schema mutation – add `AddColumn` instruction
  core/translate/alter.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core, translation/planning, vdbe

#2488 Fix JavaScript bindings packaging
  bindings/javascript/Cargo.toml
  bindings/javascript/bind.ts
  bindings/javascript/examples/drizzle/example.js
  bindings/javascript/examples/drizzle/package.json
  bindings/javascript/index.js
  bindings/javascript/package-lock.json
  bindings/javascript/package.json
  bindings/javascript/promise.ts
  bindings/javascript/sqlite-error.js
  bindings/javascript/sqlite-error.ts
  bindings/javascript/src/lib.rs
  bindings/javascript/sync.ts
  bindings/javascript/tsconfig.json
  bindings/javascript/yarn.lock
  testing/javascript/__test__/async.test.js
  testing/javascript/__test__/sync.test.js
  testing/javascript/package-lock.json
Labels: JS-Bindings

#2503 Btree cache usable space
  core/storage/btree.rs
  core/types.rs
Labels: core, Storage

#2501 Evaluate WHERE conditions after LEFT JOIN
  core/translate/main_loop.rs
  testing/join.test
Labels: core, translation/planning

#2518 Reimplement LimboRwLock in the WAL
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#2529 Add table name to the delete bytecode
  core/translate/emitter.rs
  core/translate/index.rs
  core/translate/schema.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
Labels: core, translation/planning, vdbe

#2537 perf/clickbench: enable rest of queries since we support DISTINCT and REGEXP_REPLACE
  perf/clickbench/queries.sql
Labels: Perf/Benchmarks

#2528 SQLite C API improvements: add bind_text and bind_blob
  sqlite3/include/sqlite3.h
  sqlite3/src/lib.rs
  sqlite3/tests/compat/mod.rs
  sqlite3/tests/sqlite3_tests.c
Labels: Sqlite3

#2531 Add support for PRAGMA freelist_count
  COMPAT.md
  core/pragma.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, translation/planning, Storage

#2542 Fix view processing in the VDBE
  core/translate/emitter.rs
  core/vdbe/execute.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
Labels: core, translation/planning, vdbe

#2516 perf/btree: optimize op_column
  core/types.rs
  core/vdbe/execute.rs
Labels: core, translation/planning, vdbe

#2549 Reprepare fix on write statement
  core/lib.rs
  core/mvcc/database/mod.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/common.rs
  tests/integration/query_processing/test_multi_thread.rs
Labels: core, mvcc, vdbe, Storage

#2552 Fix: Rename clickbench output file limbo/turso
  .github/workflows/rust_perf.yml
Labels: ci-actions

#2554 Reset interrupt count each time a new line is entered in CLI
  cli/app.rs
Labels: cli

#2561 turso-sync: fix schema bug
  core/lib.rs
  core/storage/wal.rs
  core/vdbe/execute.rs
  packages/turso-sync-engine/src/database_sync_engine.rs
  packages/turso-sync-engine/src/database_sync_operations.rs
  packages/turso-sync-engine/src/database_tape.rs
Labels: core, vdbe, Storage

#2563 Unify JavaScript package README files
  bindings/javascript/README.md
  packages/turso-serverless/README.md
  packages/turso-sync-js/README.md
Labels: JS-Bindings

#2564 Rename page -> slot for arenas + buffer pool
  core/storage/buffer_pool.rs
  core/storage/mod.rs
  core/storage/slot_bitmap.rs
Labels: core, Storage

#2512 More State machines
  core/benches/mvcc_benchmark.rs
  core/lib.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/storage/btree.rs
  core/storage/state_machines.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: simulator, core, mvcc, vdbe, Storage, Perf/Benchmarks

#2565 turso-sync: support checkpoint
  core/storage/wal.rs
  packages/turso-sync-engine/src/database_sync_engine.rs
  packages/turso-sync-engine/src/database_sync_operations.rs
  packages/turso-sync-engine/src/test_sync_server.rs
Labels: core, Storage

#2571 move our dbsp-based views to materialized views
  core/incremental/view.rs
  core/translate/mod.rs
  core/translate/view.rs
  vendored/sqlite3-parser/src/parser/ast/fmt.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
  vendored/sqlite3-parser/src/parser/parse.y
Labels: core, translation/planning

#2566 IO Cleanups to use `return_if_io` and `io.block`
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/vdbe/execute.rs
  core/vdbe/sorter.rs
  tests/integration/common.rs
  tests/integration/fuzz/mod.rs
Labels: core, mvcc, vdbe, Storage, IO, Perf/Benchmarks

#2580 disable checkpoint: adjust semantic
  core/io/memory.rs
  core/lib.rs
  core/mvcc/database/mod.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
  packages/turso-sync-engine/src/database_sync_engine.rs
  packages/turso-sync-engine/src/database_sync_operations.rs
  packages/turso-sync-engine/src/lib.rs
  packages/turso-sync-engine/src/test_context.rs
  sqlite3/src/lib.rs
Labels: core, mvcc, vdbe, Storage, Sqlite3, IO

#2308 Document the I/O model
  docs/manual.md
Labels: docs

#2583 Fix: do computations on usable_space as usize, not as u16
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2579 fix: Handle fresh INSERTs in materialized view incremental maintenance
  Makefile
  core/vdbe/execute.rs
  scripts/limbo-sqlite3
  testing/materialized_views.test
Labels: core, vdbe

#2548 Refactor: atomic ordering
  cli/app.rs
  core/storage/pager.rs
Labels: core, Storage, cli

#2596 Use BufferPool owned by Database instead of a static global
  core/io/mod.rs
  core/lib.rs
  core/storage/buffer_pool.rs
  core/storage/page_cache.rs
  core/vdbe/execute.rs
Labels: core, vdbe, Storage, IO

#2569 Fix non-4096 page sizes
  bindings/javascript/src/lib.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  tests/integration/pragma.rs
Labels: core, translation/planning, vdbe, Storage, IO, JS-Bindings

#2599 Fix UPDATE: Do not use an index for iteration if that index is going to be updated
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
Labels: core, optimizer, translation/planning

#2605 sim: reduce frequency of compound selects and complex joins
  simulator/generation/query.rs
Labels: simulator

#2418 Revive async io extension PR
  core/io/vfs.rs
  extensions/core/src/lib.rs
  extensions/core/src/vfs_modules.rs
  extensions/tests/src/lib.rs
  macros/src/ext/vfs_derive.rs
Labels: core, extensionlib, Macros, IO

#2590 Properly implement `.clone` CLI command
  bindings/javascript/src/lib.rs
  cli/app.rs
  cli/input.rs
  core/io/mod.rs
  core/lib.rs
  core/storage/database.rs
  testing/cli_tests/cli_test_cases.py
Labels: core, Storage, cli, IO, JS-Bindings

#2381 Convert SQLite parser in Rust by hand
  Cargo.lock
  Cargo.toml
  parser/Cargo.toml
  parser/README.md
  parser/benches/parser_benchmark.rs
  parser/build.rs
  parser/src/ast.rs
  parser/src/error.rs
  parser/src/lexer.rs
  parser/src/lib.rs
  parser/src/parser.rs
  parser/src/token.rs
Labels: core, Perf/Benchmarks

#2613 Fix WAL initialization to last committed frame
  cli/app.rs
  cli/input.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage, cli

#2616 Fix two issues in simulator
  simulator/generation/predicate/binary.rs
  simulator/generation/predicate/mod.rs
  simulator/generation/predicate/unary.rs
  simulator/generation/query.rs
  simulator/model/query/predicate.rs
  simulator/model/query/select.rs
  simulator/model/table.rs
Labels: simulator, core, translation/planning

#2556 Add framework for testing extensions in TCL
  .github/workflows/rust.yml
  extensions/tests/src/lib.rs
  testing/README.md
  testing/all.test
  testing/cli_tests/extensions.py
  testing/tester.tcl
  testing/vtab.test
Labels: extensions-other, ci-actions

#2615 core/printf: support for the %i operand
  core/functions/printf.rs
Labels: core

#2623 Add --keep-files flag to allow for inspection of files for successful simulator runs
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/watch.rs
Labels: simulator

#2619 Add documentation and rename functions
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/types.rs
  bindings/python/src/lib.rs
  core/functions/datetime.rs
  core/functions/printf.rs
  core/json/jsonb.rs
  core/json/mod.rs
  core/json/ops.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  core/vector/mod.rs
  core/vector/vector_types.rs
Labels: core, vdbe, Python-Bindings, Json, go-bindings, vector

#2627 Update stale in memory wal header after restarting log
  core/storage/wal.rs
Labels: core, Storage

#2631 unify halts
  core/vdbe/execute.rs
Labels: core, vdbe

#2632 emit SetCookie when creating a view
  core/translate/view.rs
Labels: core, translation/planning

#2624 Fail simulator on parse errors
  simulator/generation/plan.rs
  simulator/generation/query.rs
Labels: simulator

#2634 fix/sim: prevent sim from trying to create an existing table or index
  simulator/generation/plan.rs
  simulator/generation/table.rs
  simulator/model/query/create_index.rs
  simulator/model/table.rs
Labels: simulator

#2651 add metrics and implement the .stats command
  cli/app.rs
  cli/commands/args.rs
  cli/commands/mod.rs
  cli/input.rs
  core/lib.rs
  core/translate/emitter.rs
  core/translate/insert.rs
  core/vdbe/execute.rs
  core/vdbe/metrics.rs
  core/vdbe/mod.rs
Labels: core, translation/planning, vdbe, cli

#2666 Do not begin or end transactions in nested statement
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
  simulator/generation/plan.rs
  simulator/generation/property.rs
Labels: simulator, core, vdbe, Storage

#2589 Completion Error
  core/error.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/sorter.rs
  simulator/runner/io.rs
  sync/engine/src/database_sync_operations.rs
  sync/engine/src/io_operations.rs
  vendored/sqlite3-parser/src/lexer/scan.rs
  vendored/sqlite3-parser/src/lexer/sql/error.rs
  vendored/sqlite3-parser/src/parser/mod.rs
Labels: simulator, core, vdbe, Storage, IO

#2683 Fix page locked panic
  core/io/unix.rs
  core/lib.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/types.rs
  core/vdbe/mod.rs
Labels: core, vdbe, Storage, IO

#2567 Initial pass to support per page encryption
  .github/workflows/rust.yml
  Cargo.lock
  bindings/javascript/Cargo.toml
  bindings/javascript/src/lib.rs
  core/Cargo.toml
  core/io/mod.rs
  core/lib.rs
  core/pragma.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/encryption.rs
  core/storage/mod.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/pragma.rs
  tests/Cargo.toml
  tests/integration/query_processing/encryption.rs
  tests/integration/query_processing/mod.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, translation/planning, Storage, IO, ci-actions, JS-Bindings

#2681 Fix column nullability constraint
  core/schema.rs
  testing/insert.test
Labels: core

#2676 SQLite C API improvements: add column type and column decltype
  sqlite3/include/sqlite3.h
  sqlite3/src/lib.rs
  sqlite3/tests/compat/mod.rs
  sqlite3/tests/sqlite3_tests.c
Labels: core, Sqlite3

#2688 core/mvcc: start first rowid at 1
  core/mvcc/cursor.rs
Labels: core, mvcc

#2568 Improve WAL checkpointing performance
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#2701 properly execute pragmas - they may require some IO
  core/lib.rs
Labels: core

#2708 core/io: Don't open file as non-blocking in Unix backend
  core/io/unix.rs
Labels: core, IO

#2726 github: Remove Intel Mac support
  .github/workflows/napi-sync.yml
  .github/workflows/napi.yml
  .github/workflows/python.yml
Labels: ci-actions

#2723 `read_page` should not return a Completion when there is a page cache hit
  core/storage/btree.rs
  core/storage/pager.rs
Labels: core, Storage

#2650 Switch to new parser in core
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/error.rs
  core/incremental/operator.rs
  core/incremental/view.rs
  core/lib.rs
  core/pragma.rs
  core/schema.rs
  core/storage/btree.rs
  core/translate/aggregation.rs
  core/translate/alter.rs
  core/translate/attach.rs
  core/translate/compound_select.rs
  core/translate/delete.rs
  core/translate/display.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/translate/index.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/mod.rs
  core/translate/optimizer/access_method.rs
  core/translate/optimizer/constraints.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/rollback.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/transaction.rs
  core/translate/update.rs
  core/translate/view.rs
  core/types.rs
  core/util.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/sorter.rs
  core/vtab.rs
  parser/Cargo.toml
  parser/src/ast.rs
  parser/src/ast/check.rs
  parser/src/ast/fmt.rs
  parser/src/error.rs
  parser/src/lexer.rs
  parser/src/lib.rs
  parser/src/parser.rs
  parser/src/token.rs
Labels: core, optimizer, translation/planning, vdbe, Storage

#2722 refactor encryption module and make it configurable
  bindings/javascript/src/lib.rs
  core/lib.rs
  core/storage/database.rs
  core/storage/encryption.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/pragma.rs
Labels: core, translation/planning, Storage, JS-Bindings

#2754 bindings/java: Implement batch operations for JDBC4Statement
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4PreparedStatement.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4Statement.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4StatementTest.java
  bindings/java/src/test/resources/turso/.rustc_info.json
Labels: Java-Bindings

#2758 sqlite3: Implement sqlite3_get_autocommit()
  sqlite3/src/lib.rs
  sqlite3/tests/compat/mod.rs
Labels: Sqlite3

#2763 sqlite3: Implement sqlite3_bind_parameter_index()
  core/lib.rs
  sqlite3/include/sqlite3.h
  sqlite3/src/lib.rs
  sqlite3/tests/compat/mod.rs
Labels: core, Sqlite3

#2764 Remove duplicated attribute in `wal.rs`
  core/storage/wal.rs
Labels: core, Storage

#2766 Switch to F_FULLSYNC on Darwin
  core/io/unix.rs
Labels: core, IO

#2717 Remove Result from signature
  core/json/jsonb.rs
  core/json/mod.rs
Labels: core, Json

#2783 sqlite3: Implement sqlite3_malloc() and sqlite3_free()
  sqlite3/src/lib.rs
Labels: Sqlite3

#2781 Fix several issues with integrity_check
  core/storage/btree.rs
Labels: core, Storage

#2789 Remove double indirection in the Parser
  core/incremental/expr_compiler.rs
  core/translate/display.rs
  core/translate/expr.rs
  core/translate/group_by.rs
  core/translate/insert.rs
  core/translate/optimizer/lift_common_subexpressions.rs
  core/translate/optimizer/mod.rs
  core/translate/optimizer/order.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  parser/src/ast.rs
  parser/src/parser.rs
Labels: core, optimizer, translation/planning

#2779 Improve encryption API
  core/lib.rs
  core/pragma.rs
  core/storage/encryption.rs
  core/storage/pager.rs
  core/translate/pragma.rs
  parser/src/ast.rs
  tests/integration/query_processing/encryption.rs
Labels: core, translation/planning, Storage

#2790 Remove Windows IO in place of Generic IO
  core/io/generic.rs
  core/io/mod.rs
  core/io/windows.rs
Labels: core, IO

#2797 Improve documentation of page pinning
  core/storage/pager.rs
Labels: core, Storage

#2806 Rename Go driver to `turso` to not conflict with sqlite3
  .github/workflows/go.yml
  Cargo.lock
  README.md
  bindings/go/Cargo.toml
  bindings/go/README.md
  bindings/go/build_lib.sh
  bindings/go/connection.go
  bindings/go/embedded.go
  bindings/go/rows.go
  bindings/go/rs_src/lib.rs
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/statement.rs
  bindings/go/rs_src/types.rs
  bindings/go/stmt.go
  bindings/go/turso_test.go
  bindings/go/turso_unix.go
  bindings/go/turso_windows.go
  bindings/go/types.go
Labels: ci-actions, go-bindings

#2807 Remove Go bindings
  .github/workflows/go.yml
  Cargo.lock
  Cargo.toml
  bindings/go/.gitignore
  bindings/go/Cargo.toml
  bindings/go/README.md
  bindings/go/build_lib.sh
  bindings/go/connection.go
  bindings/go/embedded.go
  bindings/go/go.mod
  bindings/go/go.sum
  bindings/go/libs/.gitkeep
  bindings/go/rows.go
  bindings/go/rs_src/lib.rs
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/statement.rs
  bindings/go/rs_src/types.rs
  bindings/go/stmt.go
  bindings/go/turso_test.go
  bindings/go/turso_unix.go
  bindings/go/turso_windows.go
  bindings/go/types.go
Labels: ci-actions, go-bindings

#2805 Add some docs on encryption
  docs/manual.md
Labels: docs

#2827 core/translate: sanize_string fast path improvement
  core/translate/expr.rs
Labels: core, translation/planning

#2828 core/util: emit literal, cow instead of replace
  core/util.rs
Labels: core

#2830 core/schema: get_dependent_materialized_views_unnormalized
  core/schema.rs
  core/vdbe/execute.rs
Labels: core, vdbe

#2836 refactor/perf: remove BTreePageInner
  core/storage/btree.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2831 translate: with_capacity insns
  core/translate/mod.rs
Labels: core, translation/planning

#2842 core/vdbe: Micro-optimize "zero_or_null" opcode
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, vdbe

#2846 core/translate: remove unneessary agg clones
  core/translate/select.rs
Labels: core, translation/planning

#2847 core/translate: parse_table remove unnecessary clone of table name
  core/translate/planner.rs
Labels: core, translation/planning

#2849 add sqlite integrity check back
  simulator/main.rs
  simulator/runner/watch.rs
Labels: simulator

#2843 Propagate decryption error from the callback
  core/error.rs
  core/storage/database.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#2829 core/wal: cache file size
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#2815 Change views to use DBSP circuits
  core/incremental/compiler.rs
  core/incremental/mod.rs
  core/incremental/operator.rs
  core/incremental/view.rs
  core/translate/logical.rs
  core/translate/mod.rs
  testing/materialized_views.test
Labels: core, translation/planning

#2823 Fix column case sensitivity on strict table
  core/vdbe/execute.rs
  testing/insert.test
Labels: core, translation/planning, vdbe, Storage

#2853 Implement UPSERT
  COMPAT.md
  core/translate/insert.rs
  core/translate/mod.rs
  core/translate/upsert.rs
  testing/all.test
  testing/upsert.test
Labels: core, translation/planning
