Repository tursodatabase/turso, pull requests merged in 2025-10, with the labels that each got.

#3419 MVCC: Handle table ID / rootpages properly for both checkpointed and non-checkpointed tables
  .gitignore
  core/benches/mvcc_benchmark.rs
  core/lib.rs
  core/mvcc/cursor.rs
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/mod.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
  core/schema.rs
  core/storage/btree.rs
  core/translate/schema.rs
  core/util.rs
  core/vdbe/execute.rs
  tests/integration/common.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, mvcc, translation/planning, vdbe, Storage, Perf/Benchmarks

#3436 Fix self-insert with nested subquery
  core/translate/emitter.rs
  core/translate/insert.rs
  core/translate/plan.rs
  core/vdbe/builder.rs
  testing/insert.test
Labels: core, translation/planning, vdbe

#3449 Fix index bookkeeping in DROP COLUMN
  core/translate/alter.rs
  core/vdbe/execute.rs
  testing/alter_table.test
  tests/integration/fuzz/mod.rs
Labels: core, translation/planning, vdbe

#3278 Simulator: Concurrent transactions
  Cargo.lock
  Cargo.toml
  simulator/Cargo.toml
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/model/mod.rs
  simulator/profiles/mod.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/shrink/plan.rs
Labels: simulator

#3488 Add Database::indexes_enabled()
  core/lib.rs
Labels: core

#3496 fix/mvcc: set log offset to end of file after recovery finishes
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3509 Reject unsupported FROM clauses in UPDATE
  core/translate/update.rs
Labels: core, translation/planning

#3415 printf should truncates floats
  core/functions/printf.rs
  testing/agg-functions.test
Labels: core

#3465 Substr fix UTF-8
  core/vdbe/execute.rs
  testing/scalar-functions.test
Labels: core, vdbe

#3492 fix/mvcc: deserialize table_id as i64
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3500 core/mvcc/logical-log: fail in read_more_data if couldn't read enough
  core/mvcc/persistent_storage/logical_log.rs
Labels: core, mvcc

#3513 Resolve appropriate column name for rowid alias/PK
  core/translate/expr.rs
Labels: core, translation/planning

#3507 core/storage: Apple platforms support
  core/io/unix.rs
  core/storage/buffer_pool.rs
Labels: core, Storage, IO

#3461 Add encryption internals docs
  core/storage/encryption.rs
  docs/manual.md
Labels: core, Storage, docs

#3516 fix/vdbe: reset op_transaction state properly
  bindings/rust/tests/integration_tests.rs
  core/vdbe/execute.rs
Labels: core, vdbe, rust-bindings

#3485 Fix: JOIN USING should pick columns from left table, not right
  core/translate/expr.rs
  testing/join.test
Labels: core, translation/planning

#3539 core/translate: fix rowid affinity
  core/translate/expr.rs
  testing/affinity.test
Labels: core, translation/planning

#3549 core/mvcc: Return completions from logical log methods
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
Labels: core, mvcc

#3538 Fix COLLATE
  core/translate/collate.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/group_by.rs
  core/translate/main_loop.rs
  core/translate/optimizer/constraints.rs
  core/translate/optimizer/mod.rs
  core/translate/order_by.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/window.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  testing/collate.test
  tests/integration/fuzz/mod.rs
Labels: core, optimizer, translation/planning, vdbe

#3552 Update man pages for encryption
  cli/manuals/encryption.md
Labels: cli

#3553 fix sync-engine bug when auth token is provided as dynamic function
  bindings/javascript/sync/packages/common/run.ts
Labels: JS-Bindings

#3554 core/mvcc: Rename "-lg" to "-log"
  .gitignore
  core/lib.rs
  core/mvcc/database/tests.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, mvcc

#3551 Disallow INDEXED BY / NOT INDEXED in select
  core/translate/planner.rs
  core/translate/select.rs
Labels: core, translation/planning

#3502 core/wal: check index header on begin_write_tx
  core/storage/wal.rs
Labels: core, Storage

#3570 core/io/unix: Fix short writes in try_pwritev_raw()
  core/io/unix.rs
Labels: core, IO

#3566 remove `dyn DatabaseStorage` replace it with `DatabaseFile`
  bindings/javascript/src/lib.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/vdbe/execute.rs
  sync/engine/src/database_sync_engine.rs
  tests/integration/functions/test_wal_api.rs
  tests/integration/query_processing/test_btree.rs
Labels: core, vdbe, Storage, JS-Bindings

#3565 core/mvcc: automatic logical log checkpointing on commit
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/mvcc/persistent_storage/mod.rs
  core/vdbe/execute.rs
Labels: core, mvcc, vdbe

#3533 Improve simulator cli
  Cargo.lock
  simulator/Cargo.toml
  simulator/generation/plan.rs
  simulator/main.rs
  simulator/profiles/io.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
  simulator/runner/memory/file.rs
  simulator/runner/memory/io.rs
Labels: simulator

#3589 MVCC: do checkpoint writes in ascending order of rowid
  core/mvcc/database/checkpoint_state_machine.rs
Labels: core, mvcc

#3555 docs: Explain BEGIN CONCURRENT
  docs/manual.md
Labels: docs

#3599 Top level examples
  bindings/javascript/examples/drizzle/example.js
  bindings/javascript/examples/drizzle/package-lock.json
  bindings/javascript/examples/drizzle/package.json
  bindings/javascript/package-lock.json
  bindings/javascript/package.json
  bindings/javascript/yarn.lock
  examples/.gitignore
  examples/README.md
  examples/javascript/database-node/README.md
  examples/javascript/database-node/index.mjs
  examples/javascript/database-node/package-lock.json
  examples/javascript/database-node/package.json
  examples/javascript/database-wasm-vite/.gitignore
  examples/javascript/database-wasm-vite/README.md
  examples/javascript/database-wasm-vite/index.html
  examples/javascript/database-wasm-vite/package-lock.json
  examples/javascript/database-wasm-vite/package.json
  examples/javascript/database-wasm-vite/server.mjs
  examples/javascript/database-wasm-vite/vercel.json
  examples/javascript/database-wasm-vite/vite.config.ts
  examples/javascript/sync-node/README.md
  examples/javascript/sync-node/index.mjs
  examples/javascript/sync-node/package-lock.json
  examples/javascript/sync-node/package.json
  examples/javascript/sync-wasm-vite/.gitignore
  examples/javascript/sync-wasm-vite/README.md
  examples/javascript/sync-wasm-vite/index.html
  examples/javascript/sync-wasm-vite/package-lock.json
  examples/javascript/sync-wasm-vite/package.json
  examples/javascript/sync-wasm-vite/server.mjs
  examples/javascript/sync-wasm-vite/vercel.json
  examples/javascript/sync-wasm-vite/vite.config.ts
Labels: JS-Bindings

#3579 Rename Completion methods
  core/io/mod.rs
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/wal.rs
  sync/engine/src/database_sync_operations.rs
  sync/engine/src/io_operations.rs
  tests/integration/query_processing/test_btree.rs
Labels: core, mvcc, Storage, IO

#3603 core/incremental: Implement "is null" and "is not null" tests for view filter
  core/incremental/compiler.rs
  core/incremental/filter_operator.rs
Labels: core

#3601 core/incremental: Fix re-insertion of data with same key
  core/vdbe/execute.rs
  testing/materialized_views.test
Labels: core, vdbe

#3590 remove unnecessary SchemaLocked error
  core/error.rs
  core/lib.rs
  core/mvcc/database/mod.rs
  core/storage/pager.rs
Labels: core, mvcc, Storage

#3615 core/mvcc/logical-log: switch RwLock to parking_lot
  core/mvcc/database/mod.rs
  core/mvcc/persistent_storage/mod.rs
Labels: core, mvcc

#3610 perf/throughput: Delete database before benchmark run
  perf/throughput/rusqlite/scripts/bench.sh
  perf/throughput/turso/scripts/bench.sh
Labels: Perf/Benchmarks

#3587 Remove unsafe pointers (`RawSlice`) from `RefValue`
  core/incremental/aggregate_operator.rs
  core/incremental/cursor.rs
  core/json/mod.rs
  core/lib.rs
  core/mvcc/database/checkpoint_state_machine.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/mvcc/persistent_storage/logical_log.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  core/vdbe/sorter.rs
Labels: core, mvcc, vdbe, Storage, Json

#3613 Integrity check enhancements
  core/storage/btree.rs
  core/translate/integrity_check.rs
  core/vdbe/execute.rs
Labels: core, translation/planning, vdbe, Storage

#3510 core/translate: implement basic foreign key constraint support
  .gitignore
  COMPAT.md
  core/error.rs
  core/incremental/compiler.rs
  core/incremental/view.rs
  core/lib.rs
  core/pragma.rs
  core/schema.rs
  core/translate/collate.rs
  core/translate/emitter.rs
  core/translate/fkeys.rs
  core/translate/insert.rs
  core/translate/logical.rs
  core/translate/mod.rs
  core/translate/optimizer/join.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/update.rs
  core/translate/upsert.rs
  core/translate/view.rs
  core/translate/window.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  core/vdbe/mod.rs
  parser/src/ast.rs
  testing/all.test
  testing/foreign_keys.test
  tests/integration/fuzz/mod.rs
Labels: core, optimizer, translation/planning, vdbe, Storage

#3633 Fix rusqlite compatibility claim
  bindings/rust/README.md
Labels: rust-bindings
