Repository tursodatabase/turso, pull requests merged in 2025-07, with the labels that each got.

#1922 automatically select terminal colors for pretty mode
  cli/config/mod.rs
  cli/config/terminal.rs
Labels: cli

#1909 Rename Limbo -> Turso in python tests
  docs/testing.md
  testing/cli_tests/cli_test_cases.py
  testing/cli_tests/collate.py
  testing/cli_tests/constraint.py
  testing/cli_tests/extensions.py
  testing/cli_tests/memory.py
  testing/cli_tests/test_turso_cli.py
  testing/cli_tests/update.py
  testing/cli_tests/vfs_bench.py
  testing/cli_tests/write.py
  testing/pyproject.toml
  testing/testing_small.db-wal
  uv.lock
Labels: docs

#1912 Turso, not Limbo, in pyproject.toml
  bindings/python/pyproject.toml
Labels: Python-Bindings

#1873 Fix boxed memory leaks
  Cargo.lock
  core/Cargo.toml
  core/storage/page_cache.rs
Labels: core, Storage

#1933 Fix Python test import naming
  .github/workflows/rust_perf.yml
  testing/cli_tests/collate.py
  testing/cli_tests/constraint.py
  testing/cli_tests/extensions.py
  testing/cli_tests/memory.py
  testing/cli_tests/update.py
  testing/cli_tests/vfs_bench.py
  testing/cli_tests/write.py
Labels: ci-actions

#1916 Fix index update when INTEGER PRIMARY KEY (rowid alias)
  core/translate/emitter.rs
  testing/update.test
Labels: core, translation/planning

#1937 core/storage: Switch to turso_assert in btree.rs
  core/storage/btree.rs
Labels: core, Storage

#1928 Rollback schema support
  COMPAT.md
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/translate/alter.rs
  core/translate/index.rs
  core/translate/mod.rs
  core/translate/rollback.rs
  core/translate/schema.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  stress/main.rs
  testing/all.test
  testing/rollback.test
Labels: core, antithesis, translation/planning, vdbe, Storage

#1936 bindings/java: Rename to Turso
  Cargo.lock
  bindings/java/.gitignore
  bindings/java/Cargo.toml
  bindings/java/Makefile
  bindings/java/README.md
  bindings/java/build.gradle.kts
  bindings/java/example/build.gradle.kts
  bindings/java/example/src/main/java/tech.turso/Main.java
  bindings/java/rs_src/errors.rs
  bindings/java/rs_src/lib.rs
  bindings/java/rs_src/turso_connection.rs
  bindings/java/rs_src/turso_db.rs
  bindings/java/rs_src/turso_statement.rs
  bindings/java/rs_src/utils.rs
  bindings/java/settings.gradle.kts
  bindings/java/src/main/java/tech/turso/JDBC.java
  bindings/java/src/main/java/tech/turso/TursoConfig.java
  bindings/java/src/main/java/tech/turso/TursoDataSource.java
  bindings/java/src/main/java/tech/turso/TursoErrorCode.java
  bindings/java/src/main/java/tech/turso/core/TursoConnection.java
  bindings/java/src/main/java/tech/turso/core/TursoDB.java
  bindings/java/src/main/java/tech/turso/core/TursoDBFactory.java
  bindings/java/src/main/java/tech/turso/core/TursoPropertiesHolder.java
  bindings/java/src/main/java/tech/turso/core/TursoResultSet.java
  bindings/java/src/main/java/tech/turso/core/TursoStatement.java
  bindings/java/src/main/java/tech/turso/core/TursoStepResult.java
  bindings/java/src/main/java/tech/turso/exceptions/LimboException.java
  bindings/java/src/main/java/tech/turso/exceptions/TursoException.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4Connection.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4DatabaseMetaData.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4PreparedStatement.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4ResultSet.java
  bindings/java/src/main/java/tech/turso/jdbc4/JDBC4Statement.java
  bindings/java/src/main/java/tech/turso/utils/TursoExceptionUtils.java
  bindings/java/src/main/resources/turso-jdbc.properties
  bindings/java/src/test/java/tech/turso/IntegrationTest.java
  bindings/java/src/test/java/tech/turso/JDBCTest.java
  bindings/java/src/test/java/tech/turso/TestUtils.java
  bindings/java/src/test/java/tech/turso/core/TursoDBFactoryTest.java
  bindings/java/src/test/java/tech/turso/core/TursoDBTest.java
  bindings/java/src/test/java/tech/turso/core/TursoStatementTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4ConnectionTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4DatabaseMetaDataTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4PreparedStatementTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4ResultSetTest.java
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4StatementTest.java
  bindings/java/src/test/resources/turso/.rustc_info.json
  bindings/java/src/test/resources/turso/CACHEDIR.TAG
Labels: Java-Bindings

#1941 Import JavaScript bindings test suite from libSQL
  bindings/javascript/README.md
  bindings/javascript/__test__/dual-test.mjs
  bindings/javascript/__test__/limbo.spec.mjs
  bindings/javascript/__test__/sync.spec.mjs
  bindings/javascript/package.json
  bindings/javascript/wrapper.js
Labels: JS-Bindings

#1962 Add multi select test in JDBC4StatementTest
  bindings/java/src/test/java/tech/turso/jdbc4/JDBC4StatementTest.java
Labels: Java-Bindings

#1959 bindings/java: Merge JavaScript test suites
  bindings/java/.editorconfig
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/limbo.spec.mjs
Labels: JS-Bindings, Java-Bindings

#1955 Fix `ScalarFunc::Glob` to handle NULL and other value types
  core/vdbe/execute.rs
  testing/glob.test
Labels: core, vdbe

#1978 core/translate: Unify no such table error messages
  bindings/rust/src/lib.rs
  core/translate/planner.rs
  core/translate/select.rs
  testing/cli_tests/extensions.py
Labels: core, translation/planning, rust-bindings

#1984 add pere to antithesis
  .github/workflows/antithesis.yml
Labels: ci-actions

#1958 add interactive transaction to property insert-values-select
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/model/query/mod.rs
  simulator/model/query/transaction.rs
  simulator/runner/differential.rs
Labels: simulator

#1946 Fix infinite loops, rollback problems, and other bugs found by I/O fault injection
  .github/workflows/rust.yml
  Makefile
  bindings/go/rs_src/rows.rs
  bindings/go/rs_src/statement.rs
  bindings/java/rs_src/turso_connection.rs
  bindings/java/rs_src/turso_statement.rs
  bindings/javascript/src/lib.rs
  bindings/python/src/lib.rs
  cli/app.rs
  cli/commands/import.rs
  cli/helper.rs
  core/benches/benchmark.rs
  core/benches/json_benchmark.rs
  core/benches/tpc_h_benchmark.rs
  core/ext/vtab_xconnect.rs
  core/io/unix.rs
  core/lib.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/util.rs
  core/vdbe/builder.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  fuzz/fuzz_targets/expression.rs
  scripts/run-sim
  simulator/generation/plan.rs
  simulator/generation/property.rs
  simulator/model/mod.rs
  simulator/model/query/transaction.rs
  simulator/runner/cli.rs
  simulator/runner/env.rs
  simulator/runner/execution.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
  simulator/shrink/plan.rs
  sqlite3/src/lib.rs
  tests/integration/common.rs
  tests/integration/functions/test_function_rowid.rs
  tests/integration/query_processing/test_read_path.rs
  tests/integration/query_processing/test_write_path.rs
  tests/integration/wal/test_wal.rs
Labels: simulator, core, translation/planning, fuzzing, vdbe, extensionlib, Storage, cli, Sqlite3, IO, Perf/Benchmarks, ci-actions, JS-Bindings, Java-Bindings, Python-Bindings, go-bindings

#1992 remove experimental_flag from script + remove -q flag default flag from `TestTursoShell`
  .github/workflows/rust.yml
  Makefile
  scripts/limbo-sqlite3
  scripts/limbo-sqlite3-index-experimental
  testing/cli_tests/cli_test_cases.py
  testing/cli_tests/test_turso_cli.py
  testing/cli_tests/vfs_bench.py
Labels: ci-actions

#1995 Reachable assertions in Antithesis Python Test for better logging
  antithesis-tests/bank-test/parallel_driver_generate_transaction.py
  antithesis-tests/stress-composer/parallel_driver_schema_rollback.py
  bindings/python/pyproject.toml
  perf/connection/gen-database.py
  perf/connection/plot.py
  testing/cli_tests/test_turso_cli.py
Labels: simulator, core, antithesis, Storage, Perf/Benchmarks, Python-Bindings

#1990 core/translate: Fix aggregate star error handling in prepare_one_sele…
  core/translate/select.rs
Labels: core, translation/planning

#1939 parser: replace KEYWORDS with matching
  Cargo.lock
  vendored/sqlite3-parser/Cargo.toml
  vendored/sqlite3-parser/build.rs
  vendored/sqlite3-parser/sqlparser_bench/benches/sqlparser_bench.rs
  vendored/sqlite3-parser/src/dialect/mod.rs
  vendored/sqlite3-parser/src/lexer/sql/mod.rs
Labels: parser

#1999 parser: use YYSTACKDEPTH
  Cargo.lock
  vendored/sqlite3-parser/Cargo.toml
  vendored/sqlite3-parser/third_party/lemon/lemon.c
  vendored/sqlite3-parser/third_party/lemon/lempar.rs
Labels: parser

#2006 bindings/python: close connection only when reference count is one
  bindings/python/src/lib.rs
  core/lib.rs
  core/vdbe/mod.rs
Labels: core, vdbe, Python-Bindings

#1858 Support except operator for Compound select
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/plan.rs
  core/translate/result_row.rs
  core/translate/select.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  testing/insert.test
  testing/select.test
  tests/integration/fuzz/mod.rs
Labels: core, translation/planning, vdbe, Storage

#2007 Synchronize WAL checkpointing
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
Labels: core, Storage

#2012 uv run ruff format && uv run ruff check --fix
  antithesis-tests/stress-composer/parallel_driver_schema_rollback.py
  perf/connection/gen-database.py
  perf/connection/plot.py
  scripts/gen-changelog.py
  testing/cli_tests/test_turso_cli.py
Labels: antithesis, Perf/Benchmarks

#2014 stress clippy
  stress/main.rs
Labels: antithesis

#2013 bindings/python: Start transaction implicitly in execute()
  bindings/python/src/lib.rs
  bindings/python/tests/test_database.py
Labels: Python-Bindings

#2017 core: Fix resolve_function() error messages
  Cargo.lock
  core/function.rs
  core/translate/expr.rs
  core/translate/planner.rs
  core/translate/select.rs
Labels: core, translation/planning

#1917 Minor refactoring of btree
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2021 btree/chore: remove unnecessary parameters to .cell_get()
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2030 properly set last_checksum after recovering wal
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core, Storage

#2037 github: Update to newest Nyrkiö Github action
  .github/workflows/rust_perf.yml
Labels: ci-actions

#2039 vdbe: fix some issues with min() and max() and add ignored fuzz test
  core/vdbe/execute.rs
  testing/agg-functions.test
  tests/integration/fuzz/mod.rs
Labels: core, vdbe

#2035 Btree: more balance docs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
Labels: core, Storage

#2050 btree/balance/validation: fix divider cell insert validation
  core/storage/btree.rs
Labels: core, Storage

#2052 Simulator - only output color on terminal
  simulator/main.rs
Labels: simulator

#2042 `parse_schema_rows` optimizations
  core/benches/benchmark.rs
  core/lib.rs
  core/schema.rs
  core/util.rs
Labels: core, antithesis, translation/planning, Storage, Perf/Benchmarks, ci-actions

#2069 Ignore double quotes around table names
  core/translate/schema.rs
Labels: core, translation/planning

#2057 CDC functions
  core/function.rs
  core/json/mod.rs
  core/lib.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/insert.rs
  core/translate/pragma.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/functions/test_cdc.rs
Labels: core, translation/planning, vdbe, Storage, Json

#2078 Assert I/O read and write sizes
  bindings/wasm/lib.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/windows.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  simulator/runner/file.rs
Labels: simulator, core, Storage, IO, wasm-bindings

#2065 b-tree: fix bug in case when no matching rows was found in seek in the leaf page
  Cargo.lock
  core/storage/btree.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  testing/select.test
  tests/Cargo.toml
  tests/integration/query_processing/mod.rs
  tests/integration/query_processing/test_btree.rs
  tests/integration/query_processing/test_multi_thread.rs
Labels: core, vdbe, Storage

#2080 cli: Fail import command if table does not exists
  cli/commands/import.rs
Labels: cli

#1869 Add `fuzz` to CI checks
  .github/workflows/rust.yml
  fuzz/Cargo.lock
  fuzz/fuzz_targets/cast_real.rs
  fuzz/fuzz_targets/expression.rs
  fuzz/fuzz_targets/schema.rs
Labels: fuzzing, ci-actions

#2082 build: Update cargo-dist to 0.28.6
  .github/workflows/release.yml
  dist-workspace.toml
Labels: ci-actions

#2053 Support page_size pragma setting
  core/lib.rs
  core/storage/btree.rs
  core/storage/header_accessor.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  testing/pragma.test
Labels: core, translation/planning, vdbe, Storage

#2085 bindings/js: fix more tests
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/sync.spec.mjs
  bindings/javascript/index.d.ts
  bindings/javascript/src/lib.rs
  bindings/javascript/wrapper.js
  core/lib.rs
Labels: core, JS-Bindings

#1727 Treat table-valued functions as tables
  core/ext/mod.rs
  core/pragma.rs
  core/schema.rs
  core/series.rs
  core/translate/insert.rs
  core/translate/main_loop.rs
  core/translate/optimizer/join.rs
  core/translate/optimizer/mod.rs
  core/translate/plan.rs
  core/translate/planner.rs
  core/translate/pragma.rs
  core/translate/schema.rs
  core/translate/select.rs
  core/translate/update.rs
  core/util.rs
  core/vtab.rs
  extensions/completion/src/lib.rs
  extensions/tests/src/lib.rs
  testing/cli_tests/extensions.py
  testing/pragma.test
  testing/sqlite_test_ext/src/kvstore.c
Labels: core, optimizer, extensions-other, translation/planning, extensionlib, ci-actions

#2084 btree: unify table&index seek page boundary handling
  core/storage/btree.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, translation/planning, vdbe, Storage

#2098 fix record header size calculations and incorrect assumptions
  core/types.rs
  testing/insert.test
Labels: core

#2103 refactor: Changes CursorResult to IOResult
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/header_accessor.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  tests/integration/common.rs
Labels: core, vdbe, Storage

#2094 Fix CSV import in the shell
  cli/commands/import.rs
  perf/clickbench/.gitignore
  testing/cli_tests/cli_test_cases.py
  testing/test_files/test_w_header.csv
Labels: cli, Perf/Benchmarks

#2108 btree: fix interior cell replacement in btrees with depth >=3
  core/storage/btree.rs
Labels: core, Storage

#2111 sim: provide additional context in assertion failures
  simulator/generation/plan.rs
  simulator/generation/property.rs
Labels: simulator

#2112 make unixepoch to return i64
  core/functions/datetime.rs
  core/vdbe/execute.rs
Labels: core, vdbe

#2005 btree: fix trying to go upwards when we are already at the end of the entire btree
  core/storage/btree.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
Labels: core, Storage

#2044 Separate user-callable cacheflush from internal cacheflush logic
  bindings/rust/src/lib.rs
  bindings/rust/tests/integration_tests.rs
  core/lib.rs
  core/storage/pager.rs
  core/vdbe/mod.rs
  tests/integration/common.rs
Labels: core, vdbe, Storage, rust-bindings

#2115 btree: fix post-balancing seek bug in delete path
  core/storage/btree.rs
Labels: core, Storage

#2120 rename operation_xxx to change_xxx to make naming more consistent
  core/translate/emitter.rs
  core/translate/pragma.rs
  tests/integration/functions/test_cdc.rs
Labels: core, translation/planning

#2130 simulator: Disable `INSERT INTO .. SELECT` for being slow
  simulator/generation/query.rs
Labels: simulator

#2022 core: Copy-on-write for in-memory schema
  core/ext/mod.rs
  core/lib.rs
  core/storage/pager.rs
  core/util.rs
  core/vdbe/execute.rs
Labels: core, vdbe, extensionlib, Storage

#2131 refactor/btree&vdbe: fold index key info (sort order, collations) into a single struct
  core/storage/btree.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vdbe/sorter.rs
Labels: core, vdbe, Storage

#1943 Implement IO latency correctly in simulator
  .github/workflows/rust.yml
  bindings/javascript/src/lib.rs
  bindings/wasm/lib.rs
  core/io/clock.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  simulator/runner/cli.rs
  simulator/runner/clock.rs
  simulator/runner/env.rs
  simulator/runner/file.rs
  simulator/runner/io.rs
  simulator/runner/mod.rs
  tests/integration/query_processing/test_btree.rs
Labels: simulator, core, Storage, IO, wasm-bindings, ci-actions, JS-Bindings

#2142 forgot to set the state to NewTrunk if we have more leaf pages than free entries
  core/storage/pager.rs
Labels: core, Storage

#2140 translate/create index: fix wrong collations
  core/translate/index.rs
Labels: core, translation/planning

#2144 `make_from_btree` should wait for IO to complete
  core/schema.rs
Labels: core

#2146 make most instrumentation levels to be Debug or Trace instead
  core/io/unix.rs
  core/storage/btree.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/compound_select.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/mod.rs
  core/vdbe/builder.rs
  core/vdbe/mod.rs
Labels: core, translation/planning, vdbe, Storage, IO

#2147 Property `FaultyQuery` should fail if we encounter an error that is not expected
  simulator/generation/property.rs
Labels: simulator

#2128 Core: Introduce external sorting
  core/Cargo.toml
  core/storage/sqlite3_ondisk.rs
  core/vdbe/execute.rs
  core/vdbe/sorter.rs
Labels: core, vdbe, Storage

#2154 Fix rollback for TxErrors
  core/vdbe/mod.rs
  testing/rollback.test
  tests/integration/query_processing/mod.rs
  tests/integration/query_processing/test_transactions.rs
Labels: core, vdbe

#2156 Replace verbose IO Completion methods with helpers
  core/io/io_uring.rs
  core/io/mod.rs
  core/storage/btree.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  tests/integration/query_processing/test_btree.rs
Labels: core, Storage, IO

#2136 Reanimate MVCC
  Makefile
  core/mvcc/cursor.rs
  core/mvcc/database/mod.rs
  core/mvcc/database/tests.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
  testing/cli_tests/mvcc.py
  testing/pyproject.toml
Labels: core, mvcc, vdbe, Storage

#2160 sim: change --disable-create-index flag to --enable-create-index (default false)
  simulator/runner/cli.rs
  simulator/runner/env.rs
Labels: simulator

#2161 sim: show seed in 'execute_interaction()' trace
  simulator/runner/execution.rs
Labels: simulator

#2163 Fix parent page stack location after interior node replacement
  core/storage/btree.rs
Labels: core, Storage

#2169 claude sonnet forgot to run clippy when implementing mcp server
  bindings/javascript/src/lib.rs
  cli/mcp_server.rs
Labels: cli, JS-Bindings

#2152 improve handling of double quotes
  cli/app.rs
  cli/commands/args.rs
  cli/commands/mod.rs
  core/translate/expr.rs
  core/translate/optimizer/mod.rs
  core/translate/planner.rs
  testing/insert.test
  testing/select.test
  testing/tester.tcl
  testing/values.test
Labels: core, optimizer, translation/planning, cli

#2166 sorter: fix sorter panic on SortedChunkIOState::WaitingForRead
  core/vdbe/sorter.rs
Labels: core, vdbe

#2173 Simplify blocking operations – add `io.block(fn)` for IO trait implementors
  core/schema.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/util.rs
Labels: core, Storage

#2181 implement write side of pragma schema_version
  COMPAT.md
  core/translate/pragma.rs
Labels: core, translation/planning

#2175 implement Debug for Database
  core/lib.rs
  core/storage/page_cache.rs
Labels: core, Storage

#2189 fix/pager/cacheflush: cacheflush shouldn't commit
  core/storage/pager.rs
  core/storage/wal.rs
  tests/integration/common.rs
Labels: core, Storage

#2176 Avoid redundant decoding of record headers when reading sorted chunk files
  core/storage/sqlite3_ondisk.rs
  core/vdbe/sorter.rs
Labels: core, vdbe, Storage

#2126 BTreeTable::to_sql: wrap special column names in brackets
  core/schema.rs
  testing/alter_table.test
Labels: core

#2201 core/lib: init_pager lock shared wal until filled
  core/lib.rs
  tests/integration/query_processing/test_multi_thread.rs
  tests/integration/query_processing/test_write_path.rs
Labels: core

#2200 test/clickbench: fix clickbench
  perf/clickbench/benchmark.sh
  perf/clickbench/run.sh
Labels: Perf/Benchmarks

#2222 Fix issues in alter table tests and fix a small error in BTreeTable::to_sql
  core/schema.rs
  testing/all.test
  testing/alter_table.test
Labels: core

#2236 silence clippy errors with features disabled
  core/ext/mod.rs
  core/io/unix.rs
  core/lib.rs
  core/util.rs
  core/vdbe/execute.rs
Labels: core, vdbe, extensionlib, IO

#2237 types: less noisy Debug implementation for ImmutableRecord
  core/types.rs
Labels: core

#2238 Pager: clear overflow cells when freeing page
  core/storage/pager.rs
Labels: core, Storage

#2182 fix: SUM returns correct float for mixed numeric/non-numeric types & return value on empty set
  core/types.rs
  core/vdbe/execute.rs
  tests/integration/fuzz/mod.rs
Labels: core, vdbe

#2207 Deserialize keys only once when sorting immutable records
  core/vdbe/sorter.rs
Labels: core, vdbe

#2239 Explicit rowid insert
  core/translate/insert.rs
  testing/insert.test
Labels: core, translation/planning

#2242 measure only the time it takes to open the actual connection
  perf/connection/limbo/src/main.rs
Labels: Perf/Benchmarks

#2249 emit SetCookie after DropTable
  core/translate/schema.rs
Labels: core, translation/planning

#2244 make add dirty to change flag and also add page to the dirty list
  core/storage/btree.rs
  core/storage/header_accessor.rs
  core/storage/pager.rs
Labels: core, Storage

#2257 pager: Clear stale page cache if database changed
  core/storage/pager.rs
  core/storage/wal.rs
  tests/integration/common.rs
Labels: core, Storage

#2034 Append WAL frames one by one
  core/lib.rs
  core/storage/page_cache.rs
  core/storage/pager.rs
  core/storage/wal.rs
  core/vdbe/mod.rs
Labels: core, vdbe, Storage

#2243 btree/balance: support case where immediate parent page of unbalanced child page also overflows
  core/storage/btree.rs
Labels: core, Storage

#2099 Fix page_count pragma
  cli/app.rs
  cli/commands/import.rs
  core/lib.rs
  core/schema.rs
  core/storage/btree.rs
  core/storage/pager.rs
  core/vdbe/execute.rs
  testing/pragma.test
Labels: core, vdbe, Storage, cli

#2259 Fix schema reparse logic
  core/lib.rs
  core/util.rs
  core/vdbe/execute.rs
  tests/integration/functions/test_wal_api.rs
Labels: core, vdbe

#2265 Simplify sum() aggregation logic
  core/types.rs
  core/vdbe/execute.rs
Labels: core, vdbe

#2262 bindings/javascript: Switch to napi v3
  .github/workflows/napi.yml
  Cargo.lock
  bindings/javascript/.yarn/releases/yarn-4.6.0.cjs
  bindings/javascript/.yarn/releases/yarn-4.9.2.cjs
  bindings/javascript/.yarnrc.yml
  bindings/javascript/Cargo.toml
  bindings/javascript/__test__/better-sqlite3.spec.mjs
  bindings/javascript/__test__/sync.spec.mjs
  bindings/javascript/index.d.ts
  bindings/javascript/index.js
  bindings/javascript/package-lock.json
  bindings/javascript/package.json
  bindings/javascript/src/lib.rs
  bindings/javascript/wrapper.js
  bindings/javascript/yarn.lock
Labels: ci-actions, JS-Bindings

#2279 Update limbo -> turso in manual.md
  docs/manual.md
Labels: docs

#2282 implement the pragma encoding
  COMPAT.md
  core/pragma.rs
  core/storage/sqlite3_ondisk.rs
  core/translate/pragma.rs
  vendored/sqlite3-parser/src/parser/ast/mod.rs
Labels: core, translation/planning, Storage

#2270 Fix sum() to follow the SQLite semantics
  core/types.rs
  core/vdbe/execute.rs
  tests/integration/fuzz/mod.rs
Labels: core, vdbe

#2280 Stop checkpointing the entire WAL after every write when wal frame size > threshold
  core/storage/wal.rs
  sqlite3/tests/compat/mod.rs
Labels: core, Storage, Sqlite3

#2281 io_uring: use Arc pointer for user data of entries
  core/io/io_uring.rs
Labels: core, IO

#2273 Fix error handling when binding column references while translating the UPDATE statement
  core/translate/planner.rs
  core/translate/update.rs
  testing/cli_tests/extensions.py
  testing/update.test
Labels: core, translation/planning

#2276 Implement the Returning statement for inserts and updates
  COMPAT.md
  core/translate/delete.rs
  core/translate/emitter.rs
  core/translate/expr.rs
  core/translate/insert.rs
  core/translate/mod.rs
  core/translate/update.rs
  core/vdbe/execute.rs
  testing/insert.test
  testing/update.test
Labels: core, translation/planning, vdbe

#2294 core/translate: Handle Expr::Id in `CREATE INDEX`
  core/translate/index.rs
Labels: core, translation/planning

#2314 perf: fix logic error in is_simple_count()
  core/translate/plan.rs
Labels: core, translation/planning

#2316 bindings/javascript: Generate native npm packages at publish
  .github/workflows/napi.yml
  bindings/javascript/npm/darwin-universal/README.md
  bindings/javascript/npm/darwin-universal/package.json
  bindings/javascript/npm/linux-x64-gnu/README.md
  bindings/javascript/npm/linux-x64-gnu/package.json
  bindings/javascript/npm/win32-x64-msvc/README.md
  bindings/javascript/npm/win32-x64-msvc/package.json
Labels: ci-actions, JS-Bindings

#2336 Add vector_concat and vector_slice support
  COMPAT.md
  core/function.rs
  core/translate/expr.rs
  core/types.rs
  core/vdbe/execute.rs
  core/vector/mod.rs
  core/vector/vector_types.rs
Labels: core, translation/planning, vdbe, vector

#2179 Rewrite the WAL
  Cargo.lock
  bindings/javascript/src/lib.rs
  bindings/rust/Cargo.toml
  bindings/rust/tests/transaction_isolation_fuzz.rs
  bindings/wasm/lib.rs
  cli/app.rs
  core/io/generic.rs
  core/io/io_uring.rs
  core/io/memory.rs
  core/io/mod.rs
  core/io/unix.rs
  core/io/vfs.rs
  core/io/windows.rs
  core/lib.rs
  core/result.rs
  core/storage/database.rs
  core/storage/pager.rs
  core/storage/sqlite3_ondisk.rs
  core/storage/wal.rs
  core/translate/pragma.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
  extensions/core/src/vfs_modules.rs
  extensions/tests/src/lib.rs
  macros/src/ext/vfs_derive.rs
  simulator/runner/file.rs
  sqlite3/src/lib.rs
  sqlite3/tests/compat/mod.rs
  tests/integration/functions/test_wal_api.rs
  tests/integration/query_processing/test_write_path.rs
Labels: simulator, core, translation/planning, vdbe, extensionlib, Macros, Storage, cli, Sqlite3, IO, wasm-bindings, rust-bindings, JS-Bindings

#2338 Fix concat_ws to match sqlite behavior
  core/vdbe/execute.rs
  tests/integration/fuzz/mod.rs
Labels: core, vdbe

#2367 fix/wal: make db_changed check detect cases where max frame happens to be the same
  core/storage/wal.rs
Labels: core, Storage

#2365 vdbe: Disallow checkpointing in transaction
  core/error.rs
  core/vdbe/execute.rs
  core/vdbe/mod.rs
Labels: core, vdbe

#2366 fix/wal: only rollback WAL if txn was write + fix start state for WalFile
  core/lib.rs
  core/storage/pager.rs
  core/storage/wal.rs
Labels: core, Storage

#2342 IN queries
  COMPAT.md
  core/translate/expr.rs
  core/vdbe/execute.rs
  core/vdbe/explain.rs
  core/vdbe/insn.rs
  testing/select.test
Labels: core, translation/planning, vdbe
